.Combotop
{
    background-image: url(../../images/ComboTop.gif);
    background-repeat: repeat-x;
    background-color: #ffffff;
    height: 5px;
}
.Combobottom
{
    background-image: url(../../images/ComboBottom.gif);
    background-repeat: repeat-x;
    height: 6px;    
}
.Comboleft
{
    background-image: url(../../images/Comboleft.gif);
    background-repeat: repeat-x;
    width: 5px;    
}
.Comboright
{
    position: absolute;
    top: 3px;
    left: 3px;
    background-image: url(../../images/Comboright.gif);
    background-repeat: repeat-x;
    width: 6px;
}
.Combotopleft
{
    background-image: url(../../images/ComboLeftTop.gif);
    background-repeat:no-repeat;
    width: 2px;
}
.Combobottomleft
{
    background-image: url(../../images/Comboleftbottom.gif);
    background-repeat:no-repeat;    
}
.Combotopright
{
    background: white url(../../images/ComborightTop.gif);
    background-repeat:no-repeat;
    width: 3px;
}
.Combobottomright
{
    background: white url(../../images/ComborightBottom.gif);
    background-repeat:no-repeat;
    width: 3px;
}
.ComboHeader
{
    background: white url(../../images/ComboHeader.gif);
    background-repeat: repeat-x; 
    height: 14px;   
}