h1 {font-family: Verdana; font-size: 18pt; font-weight: normal;}
.h1 {font-family: Verdana; font-size: 18pt; font-weight: normal;}
h2 {font-family: Verdana; font-size: 14pt; font-weight: normal;}
.h2 {font-family: Verdana; font-size: 14pt; font-weight: normal;}
h3 {font-family: Verdana; font-size: 10pt; font-weight: bold;}
.h3 {font-family: Verdana; font-size: 10pt; font-weight: bold; line-height: 100%; margin-bottom: 0;}
p  {font-family: Verdana; font-size: 10pt; font-weight: normal; line-height: 100%; margin-bottom: 0;}
table {font-family: Verdana; font-size: 10pt; font-weight: normal;}
td.descr {font-family: Verdana; font-size: 8pt; font-weight: normal;}
body {
  margin-top: 40px; margin-left: 40px; margin-bottom: 40px;
  color:#000000; background: #ffffff; font-family: Verdana;}
div.shortcut {
  position:absolute;
  left:40;
  top:0;
  font-family: Verdana; font-size: 8pt; font-weight: normal;
  color:gray;
}
a.sh {color:gray;}
