<?xml version="1.0"?>
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">                               
    <configSections>
    <section name="regionSettings" type="Krista.FM.Server.Dashboards.Core.RegionSettings" />
    <section name="contactInformation" type="Krista.FM.Server.Dashboards.Core.ContactInformationHelper" />
	</configSections>
	<contactInformation title="Контактная информация">                
		<elements>
			<add name="text" type="Text" value="Техническая поддержка и обслуживание&lt;br/&gt;"/>
			<add name="link" type="Hyperlink" value="НПО &#171;Криста&#187;" link="http://www.krista.ru"/>
	 		<add name="support" type="Email" value="fmsupport@krista.ru"/>
			<add name="phone" type="Phone" value="8(4855) 29-17-50, 29-17-51"/>
		</elements>
	</contactInformation>
  <regionSettings id="HMAO" name="Амурская область" />    
  <appSettings>
    <add key="SchemeServerName" value="gpkrista9:8016"/>  
    <add key="SiteName" value="iМониторинг"/>
    <add key="SitePresentation" value="Информационная система мониторинга и анализа социально-экономического развития Ханты-Мансийского автономного округа - Югры АИС  &#171;Мониторинг ЮГРА&#187;." />
    <!--  <add key="width_size" value="1240" />   
    <add key="height_size" value="1024" /> -->
    <add key="BrowserCompatibility" value="Firefox:2;IE:5;AppleMAC-Safari:2"/>    
    <add key="GuestUser" value="test;test"/>
    <add key="ExternalRef" value="ХМАО - Югра;http://www.admhmao.ru/"/>
    <add key="BootloadServiceName" value="virtualfmserv:7999"/>
    <add key="OpenDocuments" value="true"/>
    <!--
		Ключ StatisticScriptPath определяет адрес сайта сбора статистики.
		Если ключ указан, то на каждой странице будут размещены js-скрипты 
		для сбора статистики, иначе статистика собираться не будет.

		<add key="StatisticScriptPath" value="http://hmao.ifinmon.ru/stat/stats_js.asp"/>   -->
	

    <!--
		Параметр MDXQueryRenameList определяет путь к файлу со списком переименований.
		Сприсок переименований используется для преобразования текстов MDX-запросов
		из формата 2000 в формат 2005.-->
 
    <add key="MDXQueryRenameList" value="RenameList_2000_to_2005.xml"/> 

  </appSettings>
  <connectionStrings>
    <add name="mas" connectionString="Provider=MSOLAP.3;Initial Catalog=Анализ и планирование_ХМАО;Data Source=gpkrista9\sql2008;MDX Unique Name Style=2;Auto Synch Period=100000;ConnectTo=9.0"/>
    <add name="mas_secondary" connectionString="Provider=MSOLAP.3;Initial Catalog=Анализ и планирование_Федеральные данные;Data Source=gpkrista9\sql2008;MDX Unique Name Style=2;Auto Synch Period=100000;ConnectTo=9.0"/>
    <add name="mas_spare" connectionString="Provider=MSOLAP.3;Initial Catalog=Югра;Data Source=gpkrista9\sql2008;MDX Unique Name Style=2;Auto Synch Period=100000;ConnectTo=9.0"/>
    <add name="warehouse" connectionString="Provider=OraOLEDB.Oracle.1;Password=dv;Persist Security Info=True;User ID=dv;Data Source=novosib"/>
    <add name="WebPartDB" connectionString="Password=dv;Persist Security Info=True;User ID=dv;Data Source=dv"/>
    <add name="SGMBase" connectionString="c:\base"/>
  </connectionStrings>
  <system.web>
<customErrors mode="Off"/>
    <httpModules>
   <!--   <add name="HTTPModulePageCleaner" type="Krista.FM.Server.Dashboards.Core.HttpModules.HTTPModulePageCleaner"/>
      <add name="HTTPModuleScriptCleaner" type="Krista.FM.Server.Dashboards.Core.HttpModules.HTTPModuleScriptCleaner"/>-->
    </httpModules>
    <webParts enableExport="true">
      <personalization defaultProvider="OraclePersonalizationProvider">
        <providers>
          <add name="OraclePersonalizationProvider" connectionStringName="WebPartDB" type="Krista.FM.Providers.OraclePersonalizationProvider.OraclePersonalizationProvider"/>
        </providers>
      </personalization>
    </webParts>
    <pages masterPageFile="~/Reports.Master"/>
    <sessionState cookieless="AutoDetect" regenerateExpiredSessionId="true"/>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <roleManager enabled="true"/>
    <trace enabled="false"/>
    <compilation debug="false">
      <assemblies>
        <add assembly="Krista.FM.Server.Dashboards.Core"/>
        <add assembly="Infragistics35.WebUI.UltraWebChart.v11.1, Version=11.1.20111.2036, Culture=neutral, PublicKeyToken=7dd5c3163f2cd0cb"/>
        <add assembly="Infragistics35.WebUI.Shared.v11.1, Version=11.1.20111.2036, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>
        <add assembly="Infragistics35.WebUI.UltraWebGrid.v11.1, Version=11.1.20111.2036, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>        
        <add assembly="Infragistics35.WebUI.UltraWebNavigator.v11.1, Version=11.1.20111.2036, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>
        <add assembly="Infragistics35.WebUI.WebCombo.v11.1, Version=11.1.20111.2036, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>
        <add assembly="Infragistics35.WebUI.Misc.v11.1, Version=11.1.20111.2036, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>
        <add assembly="Infragistics35.WebUI.WebDataInput.v11.1, Version=11.1.20111.2036, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>
        <add assembly="Infragistics35.WebUI.UltraWebGauge.v11.1, Version=11.1.20111.2036, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>
	<add assembly="Infragistics35.WebUI.UltraWebGrid.ExcelExport.v11.1, Version=11.1.20111.2036, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>        
        <add assembly="Infragistics35.WebUI.UltraWebGrid.DocumentExport.v11.1, Version=11.1.20111.2036, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>
        <add assembly="Infragistics35.WebUI.Documents.Excel.v11.1, Version=11.1.20111.2036, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>
	<add assembly="Infragistics35.WebUI.Documents.Reports.v11.1, Version=11.1.20111.2036, Culture=neutral, PublicKeyToken=7DD5C3163F2CD0CB"/>

	<add assembly="System.Windows.Forms, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Drawing, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Xml, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.Services, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.DirectoryServices, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.DirectoryServices.Protocols, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.EnterpriseServices, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.ServiceProcess, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.RegularExpressions, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>        
      </assemblies>
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows"/>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
  </system.web>
  <system.diagnostics>
    <sources>
      <source name="Krista.FM.Common" switchValue="Verbose">
        <listeners>
          <add name="FileTextWriter"/>
          <remove name="Default"/>
        </listeners>
      </source>
      <source name="Krista.FM.Server.Common" switchValue="Verbose">
        <listeners>
          <add name="FileTextWriter"/>
          <remove name="Default"/>
        </listeners>
      </source>
      <source name="Krista.FM.Server.Dashboards" switchValue="Verbose">
        <listeners>
          <add name="FileTextWriter"/>
          <remove name="Default"/>
        </listeners>
      </source>
      <source name="Krista.FM.Server.Dashboards.Core" switchValue="Verbose">
        <listeners>
          <add name="FileTextWriter"/>
          <remove name="Default"/>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="FileTextWriter" type="System.Diagnostics.TextWriterTraceListener, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" initializeData="Krista.FM.Server.Dashboards.log"/>
      <!--
      <add name="ChatServer" type="Krista.Diagnostics.ChatServerTraceListener, Krista.Diagnostics" initializeData="tcp://fmserv:889/Krista.ChatServer/Server.rem"/>
      -->
    </sharedListeners>
  </system.diagnostics>
</configuration>