.search-item {
    font        :   normal 11px tahoma, arial, helvetica, sans-serif;
    white-space :   normal;
    color       :   #555;
}
        
.search-header 
{
    font        :   normal 11px tahoma, arial, helvetica, sans-serif;
    text-align  :   center;
    font-weight :   bold;
    color       :   #555;
}
        
.search-item primary {
    display     :   inline;
    font        :   inherit;
    color       :   #0e9ef8;
}

.search-item secondary {
    display     :   inline;
    font        :   inherit;
    color       :   #555;
}

.ext-ie .x-form-text { position : static !important; }

