.helpHeader
{
    height: 28px;
    line-height: 28px;
    font-size: 18px;
    color: black;
    font-family: Arial;
}

.helpHeaderLeft
{   
	float: left;    
    width: 28px;
    height: 28px;    
    background: URL(../../images/GetHelp.gif) no-repeat center;
}

.helpHeaderRight
{
	float: right;
    width: 28px;
    height: 28px;
    background: URL(../../images/CloseHelp.gif) no-repeat center;
}

.helpFrame 
{
	padding: 0px 5px 5px 5px;
}

.helpFrameTop
{    
    height: 5px;
	background: URL(../../images/HelpFrameTop.gif) repeat-x;
}

span.help_sp 
{
	cursor:pointer;
}

.overlay
{
    position: absolute;
    z-index: 90;
    width: 100%;
    height:100%;
    background-color: Transparent;
    margin: 0px 0px 0px 0px;
    top: 0px;
    left: 0px;
}

body
{
    width: 100%;
    height: 100%;
    margin: 0px 0px 0px 0px;
}
.helpTable
{
    position: absolute; 
    z-index: 100;
    background-color: #fff3cb;
    border: solid 2px #f3d19f;
}

.sectionTitle
{
    font-weight: bold;
    font-family: 'Verdana';
    font-size: 12px;
    text-indent: 10px;
    padding-right: 7px;
}
.sectionBody
{
    font-family: 'Verdana';
    font-size: 12px;
    text-indent: 10px;
}
.list
{
    font-family: 'Verdana';
    list-style-type: disc;
    font-size: 12px;
    text-indent: 10px;
}
.listChild
{
    font-family: 'Verdana';
    list-style-type: circle;
    font-size: 12px;
    text-indent: 10px;
}
.contetntTable
{
    border: solid 1px black;
    font-family: 'Verdana';
    font-size: 12px;
    border-collapse: collapse;
}

.contetntTable td
{
    border: solid 1px black;    
}