.x-grid3-hd-inner {
    line-height: 11px; 
    padding-top: 0px;
}
.x-grid-group-hd {
    border-bottom: 1px solid;
    border-bottom-color: #99BBE8;
    padding-top: 0;
}
.x-grid3-cell-inner {
    line-height: 11px;
    padding: 1px 3px 1px 5px;
}