.igpnl_Office2007BlueControl
{
}


.igpnl_Office2007BluePanel
{
	background-color:#c0c0c0;
	cursor:default;
}


.igpnl_Office2007BlueHeaderExpanded
{
	background-image: url(images/caption_bg.jpg);
	font-size:xx-small;
	font-family: Verdana;
	padding-top:3px;
	padding-bottom:3px;
	cursor:hand;
	color:Black;
	-moz-border-radius: 6px;
	-webkit-border-radius:6px;
	border-radius: 6px;
}


.igpnl_Office2007BlueHeaderCollapsed
{
    -moz-border-radius: 6px;
    -webkit-border-radius:6px;
    border-radius: 6px;
}


.igpnl_Office2007BlueHeaderHover
{
	background-image: url(images/day_header_active.jpg);
	-moz-border-radius: 6px;
	-webkit-border-radius:6px;
	border-radius: 6px;
}


.igpnl_Office2007BlueGroupBoxControl
{
}


