.ux-maximgb-tg-panel .x-grid3-scroller
{
    /*overflow: scroll !important;*/
}

div.ux-maximgb-tg-mastercell-wrap
{
    position: relative;
    border: 0px none !important;
    padding: 0px !important;
    margin: 0px !important;
	height: 100%;
    vertical-align: text-top;
}

.ux-maximgb-tg-uiwrap
{
	float: left; 
	position: relative;
	height: 100%;
	white-space: nowrap;
}

.ux-maximgb-tg-elbow-empty
{
	position: absolute;
	height: 18px; 
	width: 16px;
    overflow: hidden;
}

.ux-maximgb-tg-elbow-line
{
	position: relative;
	height: 100%; 	
	width: 16px;
    overflow: hidden;
    left: 1px;
	background: url(../images/elbow-line.gif/extention.axd) repeat-y;
}

.ux-maximgb-tg-elbow
{
	position: relative;
	width: 16px;
	height: 100%;
	background: url(../images/elbow.gif/extention.axd) repeat-y;
}

.ux-maximgb-tg-elbow-end
{
	position: relative;
	height: 18px;
	width: 16px;
    overflow: hidden;
	background: url(../images/elbow-end.gif/extention.axd) repeat-y;
}

.ux-maximgb-tg-elbow-active
{
	cursor: pointer;
}

.ux-maximgb-tg-elbow-minus
{
	position: relative;
	height: 18px;
	width: 16px;
    overflow: hidden;
	background: url(../images/elbow-minus.gif/extention.axd) no-repeat;
}

.ux-maximgb-tg-elbow-end-minus
{
	position: relative;
	height: 18px; 
	width: 16px;
    overflow: hidden;
	background: url(../images/elbow-end-minus.gif/extention.axd) no-repeat;
}

.ux-maximgb-tg-nl-minus
{
	position: absolute;
	height: 18px;
	width: 16px;
    overflow: hidden;
	background: url(../images/elbow-minus-nl.gif/extention.axd) no-repeat;
}

.ux-maximgb-tg-elbow-plus
{
	position: relative;
	height: 18px;
	width: 16px;
    background: url(../images/elbow-plus.gif/extention.axd) no-repeat;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-bottom: 0px;	
}

.ux-maximgb-tg-elbow-plus_line
{
	position: relative;
	height: 100%;
	width: 16px;
    background: url(../images/elbow-plus_line.gif/extention.axd) repeat-y;
}

.ux-maximgb-tg-elbow-end-plus
{
	position: relative;
	height: 18px;
	width: 16px;
	background: url(../images/elbow-end-plus.gif/extention.axd) no-repeat;
    overflow: hidden;
}

.ux-maximgb-tg-nl-plus
{
	position: absolute;
	height: 18px;
	width: 16px;
    background: url(../images/elbow-plus-nl.gif/extention.axd) no-repeat;
    overflow: hidden;
}
