.txtEntities-list 
{
    width: 298px;
    font: 11px tahoma,arial,helvetica,sans-serif;
}
        
.txtEntities-list th {
    font-weight: bold;
}
        
.txtEntities-list td, .txtEntities-list th {
    padding: 3px;
}

.x-grid3-hd-inner {
    white-space: normal;
}

.disable-cell
{
    background-color: #EDEDED !important;
}