body
{
}
.WebPartZone
{	
}
.PartTitle
{    
    color: Black;
    font-weight: bold;
    font-size: 14px;   
}
.PartTitle a
{
	color:#1572b4;
	font-weight:bold;
	font-size:14px;
}
.PartTitle a:hover
{
	color:Blue;
}
.PartStyle
{
    font-family: Microsoft Sans Serif;
    font-size: 8.25pt;
    color: Black;
    padding: 1px;
}
.PartChrome
{	   
}
.GadgetMainPanel
{
	float: left;
}
.GadgetTopDate
{
	font-size: 10px;
	color: Gray;
	text-align: right;
	margin-right: 5px;
	font-family: Verdana;
}
.GadgetValueTextRight
{
	font-size: 11px;
	text-align: right;
	font-weight:bold;
}
.GadgetValueTextLeft
{
	font-size: 11px;
	text-align: left;
	font-weight:bold;
}
.RadialGaugeOutcome
{
	float:left;
	padding-right: 15px;
	vertical-align:middle;	
}
.RadialGaugeIncome
{
	float:left;
	padding-right: 15px;
}
.GadgetGridTD
{
	padding-left:5px; 
	padding-top:5px;
	padding-bottom:5px; 
	padding-right:5px; 
	border-color:#C0C0C0;
	border-width:0px;
	border-style:solid;
}

.HtmlTable
{
    border-collapse: collapse;    
    padding-right: 1px;
    padding-left: 2px;    
    padding-bottom: 0px;
    padding-top: 0px;
    font-size: 15px;
    font-family: Ms Sans Serif;    
}

.HtmlTableTd
{
    border-collapse: collapse;
    padding-right: 1px;
    padding-left: 2px;    
    padding-bottom: 0px;
    padding-top: 0px;
    font-size: 15px;
    font-family: Ms Sans Serif; 
    vertical-align: middle;   
    text-align: center;
}

.HtmlTableContourTd
{
    border: #C0C0C0 1px solid;
    border-collapse: collapse;
    padding-right: 1px;
    padding-left: 2px;    
    padding-bottom: 0px;
    padding-top: 0px;
    font-size: 15px;
    font-family: Ms Sans Serif; 
    vertical-align: middle;   
    text-align: center;
}

.SberbankDashboardCaption
{
    font-size: 18px;
    font-family: Verdana; 
    vertical-align: middle;   
    text-align: left;
}

.SberbankHeraldTitle
{
    font-size: 16px;
    font-family: Verdana; 
    vertical-align: middle;   
    text-align: center;
}