.main
{
    left: 25%;
    position: absolute;
    top: 15%;
    z-index: 2;
}

.shadowTop
{
    position: absolute; 
    left: 100px; 
    top: 0px; 
    height: 180px; 
    width: 310px; 
    background-image:url(../../images/ShadowTop.gif);
    z-index: 2;
}

.title
{
    position: absolute; 
    top: 165px; 
    left:99px;  
    height: 24px; 
    width: 310px; 
    background-image:url(images/authenticateTitle.gif);
    z-index: 4;
}

.shadowLeft
{
    position: absolute; 
    left: 0px; 
    top: 53px; 
    height: 280px; 
    width: 100px; 
    background-image:url(../../images/ShadowLeft.gif);
    z-index: 2;
}

.shadowRight
{
    position: absolute; 
    left: 409px; 
    top: 53px; 
    height: 280px; 
    width: 100px; 
    background-image:url(../../images/ShadowRight.gif);
    z-index: 2;
}

.loginDiv
{
    position: absolute; 
    top: 183px; 
    left: 99px; 
    z-index: 3;
}

.shadowBottom
{
    position: absolute; 
    left: 103px; 
    top: 269px; 
    height: 60px; 
    width: 302px; 
    background-image:url(../../images/ShadowBottom.gif);
    z-index: 2;
}
.errorTableHeader
{
    position: absolute; 
    left: 99px; 
    top: 82px;  
    z-index: 3;
}
.errorTable
{
    position: absolute; 
    left: 99px; 
    top: 85px;  
    z-index: 3;
}
.logonBackground
{
    position: absolute;
    z-index: 1;
    width: 100%;
    height:100%;
    background-color: white;
    margin: 0px 0px 0px 0px;
    top: 0px;
    left: 0px;
}