<?xml version="1.0" encoding="UTF-8"?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include Variables.wxi?>
  <Fragment>
    <Feature Id="ProductFeature" Title="$(var.ProductName)" Level="1" AllowAdvertise="yes">
        <ComponentRef Id="ProductComponent" />
        <ComponentRef Id="MDXShortcut" />
        <ComponentRef Id="DesktopWPShortcut" />
        <Feature Id="ftr4850FCD8DAC24853BFB9B92D4C1DCA8F" Level="1">
          <ComponentRef Id="cmpDB63DD29FE184C5584A4EFC72A235CAA"/>
          <Condition Level="0">FILEEXISTS</Condition>
        </Feature>
    </Feature>
  </Fragment>
</Wix>