.ux-excelgrid-row {
}

.ux-excelgrid-row-whitespace {
}

.ux-excelgrid-row-fixed {
}

.ux-excelgrid-row-user {
}

tr.ux-excelgrid-row-user > td > div.ux-excelgrid-rowaction-new 
{
    
	background: url("/extjs/resources/images/default/tree/elbow-plus-nl-gif/ext.axd") no-repeat scroll 0 0 transparent !important;
}

tr.ux-excelgrid-row-user > td > div:hover.ux-excelgrid-rowaction-new 
{
	background: url("/extjs/resources/images/default/tree/elbow-plus-nl-gif/ext.axd") no-repeat scroll -1px -1px transparent !important;
}
tr.ux-excelgrid-row-user > td > div:active.ux-excelgrid-rowaction-new {
	background: url("/extjs/resources/images/default/tree/elbow-plus-nl-gif/ext.axd") no-repeat scroll 1px 1px transparent !important;
}

tr.ux-excelgrid-row-user > td > div.ux-excelgrid-rowaction-delete {
	background: url("/extjs/resources/images/default/tree/elbow-minus-nl-gif/ext.axd") no-repeat scroll 0 0 transparent !important;
}

tr.ux-excelgrid-row-user > td > div:hover.ux-excelgrid-rowaction-delete {
	background: url("/extjs/resources/images/default/tree/elbow-minus-nl-gif/ext.axd") no-repeat scroll -1px -1px transparent !important;
}

tr.ux-excelgrid-row-user > td > div:active.ux-excelgrid-rowaction-delete {
	background: url("/extjs/resources/images/default/tree/elbow-minus-nl-gif/ext.axd") no-repeat scroll 1px 1px transparent !important;
}

.ux-excelgrid-row-action {
	
}

.ux-excelgrid-cell {
	
}

.ux-excelgrig-focus {
    border: 3px solid black;
    display: none;
    margin-left: -2px;
    margin-top: -1px;
    position: absolute;
    z-index: 7900;
    pointer-events: none;
}		
