.x-grid3-td-Name .x-grid3-cell-inner {
    font-family:tahoma, verdana;
    display:block;
    font-weight:bold;
    font-style: normal;
    color:#385F95;
    white-space:normal;
}
        
.x-grid3-row-body p {
    margin:5px 5px 10px 5px !important;      
    width:99%;
    color:Gray;      
}
