.top
{
    background-image: url(../../images/iPadContainer/Top.gif);
    background-repeat: repeat-x;    
    height: 3px;
    background-color: Black;
}
.bottom
{    
    height: 3px;
    background-color: Black;  
}
.left
{
    background-image: url(../../images/iPadContainer/Left.gif);
    background-repeat: repeat-y;
    width: 2px;   
    background-color: Black; 
}
.right
{
    background-image: url(../../images/iPadContainer/Right.gif);
    background-repeat: repeat-y;
    width: 2px;
    background-color: Black;
}
.topleft
{
    background-image: url(../../images/iPadContainer/LeftTop.gif);
    background-repeat:no-repeat;
    width: 1px;
    background-color: Black;
}
.bottomleft
{
    height: 3px;
    background-color: Black;  
}
.topright
{
    background: white url(../../images/iPadContainer/righttop.gif);
    background-repeat:no-repeat;
    width: 2px;
    background-color:Black;
}
.bottomright
{
    height: 3px;
    background-color: Black;  
}
.headerright
{
    background: white url(../../images/iPadContainer/headerright.gif);
    background-repeat:no-repeat;
    width: 1px;  
    height: 36px;
    background-color:Black;
}
.headerleft
{
    background-image: url(../../images/iPadContainer/headerleft.gif);
    background-repeat:no-repeat;
    width: 2px;
    height: 36px;
}

.headerReport
{       
    font-size: 18px;
    font-family: Verdana;
    
    color: White;
    background-image: url(../../images/iPadContainer/containerheader.gif);
    background-color: black;
    background-repeat: repeat-x;
    margin-left: -5px;
    margin-right: -5px;
    padding-left: 3px;
    height: 36px;       
    text-align:center;
    vertical-align:middle;    
}
.header a
{
	color:#1572b4;
	font-weight:bold;
	font-size:14px;
}
.header a:hover
{
	color:Blue;
}