<?xml version="1.0" encoding="UTF-8"?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include Variables.wxi?>
  <Fragment>
    <Feature Id="ProductFeature" Title="$(var.ProductName)" Level="1" AllowAdvertise="yes">
        <ComponentRef Id="ProductComponent" />
        <ComponentRef Id="cmp5FE57820F66D4DAD922135DA6B98B224" />
        <Feature Id="ftr139BA4C5AA81475FA6F748BE31E88B7A" Level="1">
          <ComponentRef Id="cmp96AB763F18CA409BA09978A3D5FC61A8"/>
          <Condition Level="0">FILEEXISTS</Condition>
        </Feature>
       <Feature Id="ftr09A91B61F3144FCE81F2D08C169D71E5" Level="1">
          <ComponentRef Id="cmp21B68520EEF343EC83564BAA647D7BC8"/>
        <Condition Level="0">FILEEXISTS</Condition>
        </Feature>
    </Feature>
  </Fragment>
</Wix>