<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" 
    xmlns:util="http://schemas.microsoft.com/wix/UtilExtension">

<!-- OFFICE ADD-IN  -->
  
  <?include Variables.wxi?>

  <Product Id="$(var.ProductCode)" Name="Криста Надстройка для MS Office" Language="1049" Version="$(var.ProductVersion)" Manufacturer="$(var.Manufacturer)" UpgradeCode="$(var.UpgradeCode)">
    <Package InstallerVersion="200" Compressed="yes" Platform="$(var.Platform)"/>
    <Icon Id="OfficeAddIn.ico" SourceFile="..\..\App\Icon\OfficeAddIn.ico" />

    <!-- Обязательные свойства для каждого инсталлятора -->
    <Property Id="ARPCOMMENTS" Value="Надстройка для MS Office (Криста)" />
    <Property Id="ARPHELPLINK" Value="fmsupport@krista.ru" />
    <Property Id="ARPHELPTELEPHONE" Value="8-(4855)-291-750,  8-(4855)-291-751" />
    <Property Id="ARPURLUPDATEINFO" Value="http://www.krista.ru" />
    <Property Id="ARPPRODUCTICON" Value="OfficeAddIn.ico" />

    <!-- Проверка установленной версии NET Framework -->
    <Property Id="NETFRAMEWORK35_SP_LEVEL">
      <RegistrySearch Id="NetFramework35SP" Root="HKLM" Key="Software\Microsoft\NET Framework Setup\NDP\v3.5" Name="SP" Type="raw" />
    </Property>
    <Condition Message="Приложение требует установленного .NET Framework 3.5 SP1. Пожалуйста установите .NET Framework и повторно запустите инсталлятор.">
      Installed OR (NETFRAMEWORK35_SP_LEVEL and NOT NETFRAMEWORK35_SP_LEVEL = "#0")
    </Condition>
    
    <!-- Свойства по умолчанию -->
    <Property Id="MACHINEINSTALLDIR">
      <RegistrySearch Id="InstallDir" Root="HKLM" Key="Software\$(var.RegKey)" Name="$(var.InstallDir)" Type="directory" Win64="$(var.Win64)" />
    </Property>
    <Property Id="USERINSTALLDIR">
      <RegistrySearch Id="UserInstallDir" Root="HKCU" Key="Software\$(var.RegKey)" Name="$(var.InstallDir)" Type="directory" Win64="$(var.Win64)" />
    </Property>
    <Property Id="InstallScope" Value="Machine" />
    <Property Id="ApplicationFolderName" Value="LocalAppDataFolder" />
    <Property Id="DISABLEADVTSHORTCUTS" Value="1" Secure="yes" />
    <Property Id="UsersAccount" Value="S-1-5-32-545" />

    <Media Id="1" Cabinet="media1.cab" EmbedCab="yes" />
       
    <!-- Пользовательский функции -->
    <Binary Id="CustomActionDll" SourceFile="..\..\Krista.FM.Update.CustomAction.CA.dll" />
    <CustomAction Id='AddPermition'
                  BinaryKey='CustomActionDll'
                  DllEntry='SetFolderPermissionMDXExpert'
                  Return='check' />
    
    <Binary Id="CheckPID" SourceFile="..\..\Krista.FM.Update.CustomAction.CA.dll" />
    <!--для vista, 7, 2008-->
    <CustomAction Id='RunFileAsAdmin' BinaryKey='CheckPID' DllEntry='RunRegisterSvrLibAsAdmin' Return='check' />

    <CustomAction Id="SetUserInstallScope" Property="InstallScope" Value="User" Execute="firstSequence" />
    <CustomAction Id="SetUserInstallDir" Property="INSTALLDIR" Value="[LocalAppDataFolder]\$(var.Manufacturer)\$(var.Division)\$(var.ProductName)\$(var.ProductVersion)" Execute="firstSequence" />
    <CustomAction Id="SetMachineInstallDir" Property="INSTALLDIR" Value="[$(var.ProgramFiles)]\$(var.Manufacturer)\$(var.Division)\$(var.ProductName)\$(var.ProductVersion)" Execute="firstSequence" />
    <CustomAction Id="SetInstallPath" Property="INSTALLDIR" Value="[INSTALLPATH]" Execute="firstSequence" />
    <CustomAction Id="ResetALLUSERS" Property="ALLUSERS" Value="" Execute="firstSequence" />
    <CustomAction Id="SetALLUSERS1" Property="ALLUSERS" Value="1" Execute="firstSequence" />
    <CustomAction Id="SetALLUSERS2" Property="ALLUSERS" Value="2" Execute="firstSequence" />
    <CustomAction Id="SetMSIINSTALLPERUSER" Property="MSIINSTALLPERUSER" Value="1" Execute="firstSequence" />
    <CustomAction Id="TranslateUsers_SetProperty" Property="PROPERTY_TO_BE_TRANSLATED" Value="UsersAccount" />
    <CustomAction Id="TranslateUsers" BinaryKey="CustomActionDll" DllEntry="TranslateSidToName" Impersonate="no" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="$(var.ProgramFiles)">
        <Directory Id="dir2962114B974745629607D16205494B97" Name="$(var.Manufacturer)">
          <Directory Id="dir4F72E312096C4DF5A828265BC87527D8" Name="$(var.Division)">
            <Directory Id="INSTALLDIR" Name="$(var.ProductName)">
              </Directory>
            </Directory>
          </Directory>
        </Directory>
      <Directory Id="AppDataFolder">
        <Directory Id="filA55DD37262F94E2499FDC5915DD21CC6" Name="$(var.Manufacturer)">
          <Directory Id="fil363E1FCCB1B5425E8A84305B0E8C4CA4" Name="$(var.Division)">
              <Directory Id="fil8CA0BF8E50FA4F3EBA5C6778E4706BAB" Name="$(var.ProductName)">
                  <Directory Id="filF43EFE569AD04CF28E99520AB82EDD9E" Name="Log"/>
                  <Directory Id="fil9EDC78D6CF384D8A968EDF9B0DCEF4F5" Name="Cache"/>
                </Directory>
            </Directory>
          </Directory>
        </Directory>

      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder3" Name="Криста">
          <Directory Id="ApplicationProgramsFolder2" Name="$(var.Division)">
            <Directory Id="ApplicationProgramsFolder" Name="$(var.ProductName)">
            </Directory>
          </Directory>
        </Directory>
      </Directory>
      
    </Directory>

    <!-- Компоненты для установки-->
    <FeatureRef Id="ProductFeature"></FeatureRef>

    <CustomAction Id="DeleteFolder" BinaryKey='CustomActionDll'
                  DllEntry='RemoveInstallDirFolder'
                  Return='ignore' />

    <!--Проверка запущены ли офисные приложения-->
    <util:CloseApplication Id="CloseExcel" Property="RUNNINGAPP" Target="EXCEL.EXE" Description="Все приложения Office перед установкой должны быть закрыты." RebootPrompt="no" />
    <util:CloseApplication Id="CloseWord" Property="RUNNINGAPP2" Target="WINWORD.EXE" Description="Все приложения Office перед установкой должны быть закрыты." RebootPrompt="no" />

    <Condition Message="Перед установкой надстроек необходимо закрыть все офисные приложения!">
      <![CDATA[NOT RUNNINGAPP]]>
    </Condition>
    <Condition Message="Перед установкой надстроек необходимо закрыть все офисные приложения!">
      <![CDATA[NOT RUNNINGAPP2]]>
    </Condition>
    
    <!-- Порядок инсталляции-->
    <InstallExecuteSequence>
      <Custom Action="WixCloseApplications" Before="AppSearch">
        NOT Installed</Custom>
      <Custom Action="SetUserInstallDir" Before="FindRelatedProducts"><![CDATA[ALLUSERS<>1]]></Custom>
      <Custom Action="SetUserInstallScope" After="FindRelatedProducts"><![CDATA[ALLUSERS<>1]]></Custom>
      <Custom Action="SetMachineInstallDir" Before="FindRelatedProducts"><![CDATA[ALLUSERS=1]]></Custom>
      <Custom Action="SetInstallPath" Before="FindRelatedProducts">INSTALLPATH</Custom>
      <Custom Action="ResetALLUSERS" Before="FindRelatedProducts">USERINSTALLDIR</Custom>
      <Custom Action="SetALLUSERS1" Before="FindRelatedProducts">MACHINEINSTALLDIR</Custom>
      <Custom Action="DeleteFolder" After="RemoveFiles"><![CDATA[REMOVE="ALL" AND NOT UPGRADINGPRODUCTCODE]]></Custom>
      <Custom Action="AddPermition" After="InstallFinalize">MACHINEINSTALLDIR AND NOT Installed</Custom>
      <Custom Action='TranslateUsers_SetProperty' Before='TranslateUsers' />
      <Custom Action='TranslateUsers' Before="FindRelatedProducts" />
      <!-- <Custom Action="RunFileAsAdmin" After="InstallFinalize">NOT Installed</Custom>-->
      <RemoveExistingProducts After="InstallFinalize" />
    </InstallExecuteSequence>
    <InstallUISequence>
      <Custom Action="WixCloseApplications" Before="AppSearch">
        NOT Installed
      </Custom>
      <Custom Action="SetMachineInstallDir" Before="FindRelatedProducts">MACHINEINSTALLDIR AND NOT INSTALLPATH</Custom>
      <Custom Action="SetInstallPath" Before="FindRelatedProducts">INSTALLPATH</Custom>
      <Custom Action="ResetALLUSERS" Before="FindRelatedProducts">USERINSTALLDIR</Custom>
      <Custom Action="SetALLUSERS1" Before="FindRelatedProducts">MACHINEINSTALLDIR</Custom>
      <Custom Action="SetMSIINSTALLPERUSER" Before="SetALLUSERS2"><![CDATA[NOT ALLUSERS AND VersionMsi >= "5.00"]]></Custom>
      <Custom Action="SetALLUSERS2" Before="ExecuteAction"><![CDATA[NOT ALLUSERS AND VersionMsi >= "5.00"]]></Custom>
    </InstallUISequence>

    <!-- Пользовательский интерфейс -->
    <UIRef Id="WixUI_Wizard"/>

  </Product>
</Wix>
