body
{
}
.WebPartZone
{	
}
.PartTitle
{    
    color: Black;
    font-weight: bold;
    font-size: 14px;   
}
.PartTitle a
{
	color:#1572b4;
	font-weight:bold;
	font-size:14px;
}
.PartTitle a:hover
{
	color:Blue;
}
.PartStyle
{
    font-family: Microsoft Sans Serif;
    font-size: 8.25pt;
    color: Black;
    padding: 1px;
background-color:white; 
}
.PartChrome
{	   
}
.GadgetMainPanel
{
	float: left;
}
.GadgetTopDate
{
	font-size: 10px;
	color: Gray;
	text-align: right;
	margin-right: 5px;
	font-family: Verdana;
}
.GadgetValueTextRight
{
	font-size: 11px;
	text-align: right;
	font-weight:bold;
}
.GadgetValueTextLeft
{
	font-size: 11px;
	text-align: left;
	font-weight:bold;
}
.RadialGaugeOutcome
{
	float:left;
	padding-right: 15px;
	vertical-align:middle;	
}
.RadialGaugeIncome
{
	float:left;
	padding-right: 15px;
}
.GadgetGridTD
{
	padding-left:5px; 
	padding-top:5px;
	padding-bottom:5px; 
	padding-right:5px; 	
}

.GadgetValueText
{
     font-family: Microsoft Sans Serif;     
     font-size: 22px;
     font-weight:bold;
     color: Black;
     vertical-align:bottom;	
}

.GadgetLabelText
{
     font-family: Microsoft Sans Serif;
     font-size: 18px;
     color: Black;
     vertical-align:bottom;
}

.GadgetGreatValueText
{
     font-family: Microsoft Sans Serif;
     font-size: 30px;
     font-weight:bold;
     color: Black;
     vertical-align:bottom;	
}

.GadgetGreatLabelText
{
     font-family: Microsoft Sans Serif;
     font-size: 26px;
     color: Black;
     vertical-align:bottom;	
}

.WallGadgetValueText
{
     font-family: Microsoft Sans Serif;
     font-size: 96px;
     color: Black;
     font-weight:bold;
     vertical-align:bottom;	
}

.WallGadgetLabelText
{
     font-family: Microsoft Sans Serif;
     font-size: 80px;
     color: Black;
     vertical-align:bottom;	
}

.WallGadgetGreatValueText
{
     font-family: Microsoft Sans Serif;
     font-size: 106px;
     color: Black;
     font-weight:bold;
     vertical-align:bottom;	
}

.WallGadgetGreatLabelText
{
     font-family: Microsoft Sans Serif;     
     font-size: 90px;
     color: Black;
     vertical-align:bottom;	
}
.GadgetWallMainPanel
{
	float: left;
