body
{
}
.BallRed
{
	background-image: url(../../images/ballRedBB.png);
	background-repeat: no-repeat; 
	background-position: left center;
}
.BallGreen
{
	background-image: url(../../images/ballGreenBB.png);
	background-repeat: no-repeat; 
	background-position: left center;
}
.BallOrange
{
	background-image: url(../../images/ballOrangeBB.png);
	background-repeat: no-repeat; 
	background-position: left center;
}
.BallYellow
{
	background-image: url(../../images/ballYellowBB.png);
	background-repeat: no-repeat; 
	background-position: left center;
}
.BallRedDim
{
	background-image: url(../../images/ballRedBBdim.png);
	background-repeat: no-repeat; 
	background-position: left center;
}
.BallGreenDim
{
	background-image: url(../../images/ballGreenBBdim.png);
	background-repeat: no-repeat; 
	background-position: left center;
}
.ArrowUpGreen
{
	background-image: url(../../images/arrowGreenUpBB.png);
	background-repeat: no-repeat; 
	background-position: left center;
}
.ArrowDownRed
{
	background-image: url(../../images/arrowRedDownBB.png);
	background-repeat: no-repeat; 
	background-position: left center;
}
.ArrowUpGreenLeftPadding
{
	background-image: url(../../images/arrowGreenUpBB.png);
	background-repeat: no-repeat; 
	padding-left: 10px;
	background-position: 10px center;
}
.ArrowDownRedLeftPadding
{
	background-image: url(../../images/arrowRedDownBB.png);
	background-repeat: no-repeat; 
	background-position: 10px center;
}
.StarGray
{
	background-image: url(../../images/starGrayBB.png);
	background-repeat: no-repeat; 
	background-position: left center;
}
.StarYellow
{
	background-image: url(../../images/starYellowBB.png);
	background-repeat: no-repeat; 
	background-position: left center;
}
.ArrowUpRed
{
	background-image: url(../../images/arrowRedUpBB.png);
	background-repeat: no-repeat; 
	background-position: left center;
}
.ArrowDownGreen
{
	background-image: url(../../images/arrowGreenDownBB.png);
	background-repeat: no-repeat; 
	background-position: left center;
}
.ArrowUpRedLeftPadding
{
	background-image: url(../../images/arrowRedUpBB.png);
	background-repeat: no-repeat; 
	padding-left: 10px;
	background-position: 10px center;
}
.ArrowDownGreenLeftPadding
{
	background-image: url(../../images/arrowGreenDownBB.png);
	background-repeat: no-repeat; 
	background-position: 10px center;
}