.parent-cell
{
    font-weight: bold;
} 
.sub-cell
{
    padding-left: 10px;
}
.exclamation-cell {
	background-repeat: no-repeat;
    background-image: url("/extjs/resources/images/default/form/exclamation-gif/ext.axd");
}	
