<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" 
     xmlns:iis="http://schemas.microsoft.com/wix/IIsExtension" 
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension" xml:lang ="en-us">

  <?include Variables.wxi?>

  <Fragment>

      <DirectoryRef Id="ClientFolder">
        <Component Id="ClientComponent" Guid="41076d4f-16c3-4fb4-b3c3-3682988d4de8" DiskId='1'>

          <File Id="filB852D2759CD1A9CCD9B9BB7E94DDAAAC"  Source="$(var.ClientFilesDir)\ARJ32.EXE" />
          <File Id="fil5BEE716DB05BD55989F28A4943E8EDF3"  Source="$(var.ClientFilesDir)\Castle.Core.dll" />
          <File Id="filC1F4C6036600D1B21EF1B213560B2CEB"  Source="$(var.ClientFilesDir)\ExcelPackage.dll" />
          <File Id="filC24E0969F3A1F067409AC1989356001E"  Source="$(var.ClientFilesDir)\FluentNHibernate.dll" />
          <File Id="filDBC413979589D48154985C993C747014"  Source="$(var.ClientFilesDir)\ICSharpCode.SharpZipLib.dll" />
          <File Id="fil0A3FF57D6A7E760907E59471EC0CFA63"  Source="$(var.ClientFilesDir)\Iesi.Collections.dll" />
          <File Id="filC38E77A6197E1472D0461730EA6BDDBE"  Source="$(var.ClientFilesDir)\Infragistics2.Documents.v10.3.dll" />
          <File Id="fil37E125D3FD01973AF1F5C949102A3EF3"  Source="$(var.ClientFilesDir)\Infragistics2.Excel.v10.3.dll" />
          <File Id="fil65A015294E36B6D8784A444CEFD99A6D"  Source="$(var.ClientFilesDir)\Infragistics2.Shared.v10.3.dll" />
          <File Id="filAD9BB6E42C751DDAADDE93EC16C87AAD"  Source="$(var.ClientFilesDir)\Infragistics2.Win.AppStylistSupport.v10.3.dll" />
          <File Id="fil497A49F1D961FC668EBAF604CBD13C28"  Source="$(var.ClientFilesDir)\Infragistics2.Win.Misc.v10.3.dll" />
          <File Id="filD7CCA83D7DDA5A8182B75A624259D138"  Source="$(var.ClientFilesDir)\Infragistics2.Win.SupportDialogs.v10.3.dll" />
          <File Id="fil117029BD7D9908322B97AE4C952D0924"  Source="$(var.ClientFilesDir)\Infragistics2.Win.UltraChart.v10.3.Design.dll" />
          <File Id="filFAB3D4185FA622498A139046EF1D0B00"  Source="$(var.ClientFilesDir)\Infragistics2.Win.UltraGauge.v10.3.Design.dll" />
          <File Id="fil98EE0522E08274E4D1CDD3AA7B13B800"  Source="$(var.ClientFilesDir)\Infragistics2.Win.UltraWinCalcManager.v10.3.dll" />
          <File Id="filB6E1D765F066B6C22C1AED853694220D"  Source="$(var.ClientFilesDir)\Infragistics2.Win.UltraWinCalcManager.v10.3.FormulaBuilder.dll" />
          <File Id="filF903B46A7FE2C2E946A532776DF26696"  Source="$(var.ClientFilesDir)\Infragistics2.Win.UltraWinChart.v10.3.dll" />
          <File Id="filC175FE13F0137CC724A4E18D612B812D"  Source="$(var.ClientFilesDir)\Infragistics2.Win.UltraWinDataSource.v10.3.dll" />
          <File Id="fil84EDC979B6AC73FD78AD3215FD019E0E"  Source="$(var.ClientFilesDir)\Infragistics2.Win.UltraWinDock.v10.3.dll" />
          <File Id="fil26F8AC771330F8E607417D2E957C5CF5"  Source="$(var.ClientFilesDir)\Infragistics2.Win.UltraWinEditors.v10.3.dll" />
          <File Id="fil4BA030D71D39FFF938AFD4629096EE6C"  Source="$(var.ClientFilesDir)\Infragistics2.Win.UltraWinExplorerBar.v10.3.dll" />
          <File Id="filCE9BF07EBC4BA927B84F009FE01682C9"  Source="$(var.ClientFilesDir)\Infragistics2.Win.UltraWinGanttView.v10.3.dll" />
          <File Id="fil4D0DAEBD6C09A2C3A7755AD5ADC66E68"  Source="$(var.ClientFilesDir)\Infragistics2.Win.UltraWinGauge.v10.3.dll" />
          <File Id="filC358F74AB0DE8A22F71AF2F9F859CE9C"  Source="$(var.ClientFilesDir)\Infragistics2.Win.UltraWinGrid.DocumentExport.v10.3.dll" />
          <File Id="filDFAE6A69844C2E8463C4526956E22410"  Source="$(var.ClientFilesDir)\Infragistics2.Win.UltraWinGrid.ExcelExport.v10.3.dll" />
          <File Id="fil3C87A5F27771FEE5FA94355E6356A057"  Source="$(var.ClientFilesDir)\Infragistics2.Win.UltraWinGrid.v10.3.dll" />
          <File Id="fil50CA96C39D0C1C8C0874B18E5C6016A9"  Source="$(var.ClientFilesDir)\Infragistics2.Win.UltraWinInkProvider.Ink17.v10.3.dll" />
          <File Id="fil975DB8B78F90DCB29F01E2CD854F87A7"  Source="$(var.ClientFilesDir)\Infragistics2.Win.UltraWinInkProvider.v10.3.dll" />
          <File Id="filEF38E559B80955D2E029CFF85E60D228"  Source="$(var.ClientFilesDir)\Infragistics2.Win.UltraWinListBar.v10.3.dll" />
          <File Id="filA6D8BDC5754D0259C32BA68EF4DD1A2E"  Source="$(var.ClientFilesDir)\Infragistics2.Win.UltraWinListView.v10.3.dll" />
          <File Id="fil791F95BCE17250BAFCFF6FE4C06E80C2"  Source="$(var.ClientFilesDir)\Infragistics2.Win.UltraWinMaskedEdit.v10.3.dll" />
          <File Id="fil2DBE79AB20CAC3DC7A5A64D2619FB430"  Source="$(var.ClientFilesDir)\Infragistics2.Win.UltraWinPrintPreviewDialog.v10.3.dll" />
          <File Id="fil0DEA955F596F09F674759C432AEEF845"  Source="$(var.ClientFilesDir)\Infragistics2.Win.UltraWinSchedule.v10.3.dll" />
          <File Id="filF4F1525501552590A7BC756385432686"  Source="$(var.ClientFilesDir)\Infragistics2.Win.UltraWinSpellChecker.v10.3.dll" />
          <File Id="fil23CDD66E46738580C1FF6F0BB66ED4D3"  Source="$(var.ClientFilesDir)\Infragistics2.Win.UltraWinStatusBar.v10.3.dll" />
          <File Id="fil53B941AC8495F6F58B8991709FCA1057"  Source="$(var.ClientFilesDir)\Infragistics2.Win.UltraWinTabbedMdi.v10.3.dll" />
          <File Id="filA199A766C68D114536CCC1AF1EDD139B"  Source="$(var.ClientFilesDir)\Infragistics2.Win.UltraWinTabControl.v10.3.dll" />
          <File Id="filF0D6DB2BA5B941879F389C434F28C243"  Source="$(var.ClientFilesDir)\Infragistics2.Win.UltraWinToolbars.v10.3.dll" />
          <File Id="fil2A1526EBFAF4AA89CDF238199BC05C77"  Source="$(var.ClientFilesDir)\Infragistics2.Win.UltraWinTree.v10.3.dll" />
          <File Id="filB51F226E74BB906F0BBA9F199F2C29CE"  Source="$(var.ClientFilesDir)\Infragistics2.Win.v10.3.Design.dll" />
          <File Id="fil4120656FC60DE83E13EE23ED77CCC19B"  Source="$(var.ClientFilesDir)\Infragistics2.Win.v10.3.dll" />
          <File Id="filA83D9CC88B62F9FD60A0BC8CA685696D"  Source="$(var.ClientFilesDir)\Infragistics3.Excel.v10.3.dll" />
          <File Id="fil74CC491FF79D4A0BFACDDD184B25F185"  Source="$(var.ClientFilesDir)\Infragistics3.Win.UltraWinGrid.ExcelExport.v10.3.dll" />
          <File Id="fil365070049913CC198D63BA3AD656E2F7"  Source="$(var.ClientFilesDir)\Interop.ADODB.dll" />
          <File Id="fil42C4254524AFA7D88903BF5A272F2466"  Source="$(var.ClientFilesDir)\Interop.DSO.dll" />
          <File Id="filDD07D26CE3F1856BECDB616F3D9F93A5"  Source="$(var.ClientFilesDir)\Interop.MSOLAPADMINLib.dll" />
          <File Id="fil1870773B34963C76534FEAAA90517E76"  Source="$(var.ClientFilesDir)\Interop.MSXML2.dll" />
          <File Id="fil3D7D917E0C569DD3C37F57540DCFD5B0"  Source="$(var.ClientFilesDir)\Interop.POMInterfaces.dll" />
          <File Id="fil265D6260EC7EF328D94BE4CBE2294DFE"  Source="$(var.ClientFilesDir)\Interop.Renaming.dll" />
          <File Id="fil946DE5065EB9DD8B494FF252F53BA3B2"  Source="$(var.ClientFilesDir)\Interop.SourceSafeTypeLib.dll" />
          <File Id="fil96F7934604FC28554B38F1BD92266B03"  Source="$(var.ClientFilesDir)\Interop.VBA.dll" />
          <File Id="filD16C1484AA7F7B699AA6FA00B70FB7F8"  Source="$(var.ClientFilesDir)\Itenso.Configuration.dll" />
          <File Id="fil52AE9CF1C91DA3D92EF7733C174300F9"  Source="$(var.ClientFilesDir)\Itenso.Configuration.WindowsForms.dll" />
          <File Id="fil6130F9CD011A4679D27BBBF812F972D3"  Source="$(var.ClientFilesDir)\Itenso.Rtf.Converter.Html.dll" />
          <File Id="fil802F1B2BED724533A386E48E54CDA5D1"  Source="$(var.ClientFilesDir)\Itenso.Rtf.Interpreter.dll" />
          <File Id="filCDDFB68708C6661E271AA7891FE90331"  Source="$(var.ClientFilesDir)\Itenso.Rtf.Parser.dll" />
          <File Id="fil9264C1CBE8507B8CF66A09D1851C7851"  Source="$(var.ClientFilesDir)\Itenso.Sys.dll" />
          <File Id="fil541EAB5715E951B82C30A3E3AD83AB71"  Source="$(var.ClientFilesDir)\Krista.Diagnostics.dll" />
          <File Id="filBF36301DC2AD603D30E3803E40C00141"  Source="$(var.ClientFilesDir)\Krista.Diagnostics.pdb" />
          <File Id="filB3ED4F47379A2C8C033AD413E0340231"  Source="$(var.ClientFilesDir)\Krista.FM.Client.Common.dll" />
          <File Id="fil1220CBDEF8B89B9AAE59EB65DCA14883"  Source="$(var.ClientFilesDir)\Krista.FM.Client.Common.pdb" />
          <File Id="fil4F89BB1076E1FBC85E55CA817218E6D6"  Source="$(var.ClientFilesDir)\Krista.FM.Client.Components.dll" />
          <File Id="filC0F60D4114D65E5C949150E50355102A"  Source="$(var.ClientFilesDir)\Krista.FM.Client.Components.pdb" />
          <File Id="fil45883AEAC09F34F0446CBC2D5B0A7D21"  Source="$(var.ClientFilesDir)\Krista.FM.Client.Design.dll" />
          <File Id="filC9749571B4180B64F45595C1D9BF499F"  Source="$(var.ClientFilesDir)\Krista.FM.Client.Design.pdb" />
          <File Id="filECF9AF4548D8F3BB73C8770B6FEDFC79"  Source="$(var.ClientFilesDir)\Krista.FM.Client.DiagramEditor.dll" />
          <File Id="filFE1D3893FBBE4FCEB37BD76962688C71"  Source="$(var.ClientFilesDir)\Krista.FM.Client.DiagramEditor.pdb" />
          <File Id="fil508746A7DAE5240BD0DD9485435CE6AB"  Source="$(var.ClientFilesDir)\Krista.FM.Client.DWUtils.dll" />
          <File Id="fil885E28DF2B6C20F954F2E9FD159AE736"  Source="$(var.ClientFilesDir)\Krista.FM.Client.DWUtils.pdb" />
          <File Id="fil3566A91EE632D67BBEBE428B6D1A4F6B"  Source="$(var.ClientFilesDir)\Krista.FM.Client.Help.dll" />
          <File Id="fil3330F108840FFCCD89666A303BC772EA"  Source="$(var.ClientFilesDir)\Krista.FM.Client.Help.pdb" />
          <File Id="fil8A4BD4EBAE745A1BF9CF5529AED60EEC"  Source="$(var.ClientFilesDir)\Krista.FM.Client.HelpGenerator.dll" />
          <File Id="filA212611DEB7D85F50AD5DC2A8F29F839"  Source="$(var.ClientFilesDir)\Krista.FM.Client.HelpGenerator.dll.config" />
          <File Id="fil46D2BBB5A5C0E26E972B65840BCCDE9A"  Source="$(var.ClientFilesDir)\Krista.FM.Client.HelpGenerator.pdb" />
          <File Id="fil7AF8B7A191CE5688924CE8ED795D8DAD"  Source="$(var.ClientFilesDir)\Krista.FM.Client.OLAPAdmin.exe" />
          <File Id="fil4B60BC3D47A61A2A401C5FED08B8B29F"  Source="$(var.ClientFilesDir)\Krista.FM.Client.OLAPAdmin.exe.config" />
          <File Id="fil2B0E19B93DFCEA4B2D619FE778D74ECE"  Source="$(var.ClientFilesDir)\Krista.FM.Client.OLAPAdmin.pdb" />
          <File Id="fil6FABA25A21CEB8D600E125F480761287"  Source="$(var.ClientFilesDir)\Krista.FM.Client.OLAPResources.dll" />
          <File Id="filE9EA96F094D78A327BAEBCB6125ADD7B"  Source="$(var.ClientFilesDir)\Krista.FM.Client.OLAPResources.pdb" />
          <File Id="fil37065D2DBCB8906C680D56FD7C3DCA81"  Source="$(var.ClientFilesDir)\Krista.FM.Client.OLAPStructures.dll" />
          <File Id="fil2436B5CF814D76D837A768FF70EDE220"  Source="$(var.ClientFilesDir)\Krista.FM.Client.OLAPStructures.pdb" />
          <File Id="fil501A53D958601DBD9E76B402B9BE0B22"  Source="$(var.ClientFilesDir)\Krista.FM.Client.PlaningServiceProxy.dll" />
          <File Id="fil23E68BF6949DD282BDF3F919E9BC8406"  Source="$(var.ClientFilesDir)\Krista.FM.Client.PlaningServiceProxy.dll.config" />
          <File Id="fil53D175AF778B94EB044A7918808F08C9"  Source="$(var.ClientFilesDir)\Krista.FM.Client.PlaningServiceProxy.pdb" />
          <File Id="filAB70A2CE72314C26122B165E565758A6"  Source="$(var.ClientFilesDir)\Krista.FM.Client.PlaningServiceProxy.tlb" />
          <File Id="fil5A650B1F6FEA1BF63A055B35ADCB77F4"  Source="$(var.ClientFilesDir)\Krista.FM.Client.ProcessManager.dll" />
          <File Id="fil7FC2C1645CEAF8FC99BAF4FDC57CC7C9"  Source="$(var.ClientFilesDir)\Krista.FM.Client.ProcessManager.pdb" />
          <File Id="filA7DD4DA1A2E018E1574AE94D66C0F72B"  Source="$(var.ClientFilesDir)\Krista.FM.Client.Reports.dll" />
          <File Id="filF7E64B1134055412C4EA8C2F2177242A"  Source="$(var.ClientFilesDir)\Krista.FM.Client.Reports.pdb" />
          <File Id="fil590E99C8B7526A1F197801EF39E3CFA7"  Source="$(var.ClientFilesDir)\Krista.FM.Client.SchemeDesigner.exe" />
          <File Id="fil3B71AA6EAF266925122015C50416B4F4"  Source="$(var.ClientFilesDir)\Krista.FM.Client.SchemeDesigner.exe.config" />
          <File Id="fil6A92EF51B49D9DC15317B5606BA3190C"  Source="$(var.ClientFilesDir)\Krista.FM.Client.SchemeDesigner.pdb" />
          <File Id="fil8C36BCE27DB26BDCA7AD7B9246469F09"  Source="$(var.ClientFilesDir)\Krista.FM.Client.SchemeDesigner.usersettings" />
          <File Id="fil2E11C1D83AF66DCCA98E285E78627A55"  Source="$(var.ClientFilesDir)\Krista.FM.Client.SchemeEditor.dll" />
          <File Id="fil1BA27ECC24E4DAC9310BA5F5FA16C03E"  Source="$(var.ClientFilesDir)\Krista.FM.Client.SchemeEditor.pdb" />
          <File Id="filF05398DE050D0DB00A6B07DAB579273A"  Source="$(var.ClientFilesDir)\Krista.FM.Client.SMO.Design.dll" />
          <File Id="filBA1C99E0961A46F83C5293E0B01321BF"  Source="$(var.ClientFilesDir)\Krista.FM.Client.SMO.Design.pdb" />
          <File Id="filC655BD60C6D90DB75C82BC5CE97EB8AB"  Source="$(var.ClientFilesDir)\Krista.FM.Client.SMO.dll" />
          <File Id="filD2788AB5E076EB6EFC949796CABB3C01"  Source="$(var.ClientFilesDir)\Krista.FM.Client.SMO.pdb" />
          <File Id="filED65AFD4DB87C98FD23C67619CDAFBA1"  Source="$(var.ClientFilesDir)\Krista.FM.Client.SQLServerUtils.dll" />
          <File Id="filE0D2472205A608FC02520FA5F8249D9C"  Source="$(var.ClientFilesDir)\Krista.FM.Client.SQLServerUtils.pdb" />
          <File Id="fil06AF206988B1D8825E931F019D3F8AD5"  Source="$(var.ClientFilesDir)\Krista.FM.Client.TreeLogger.exe" />
          <File Id="filE6583C11A0162E0427CEBED8EED25D98"  Source="$(var.ClientFilesDir)\Krista.FM.Client.TreeLogger.pdb" />
          <File Id="filF255546FF2A167F0F42297C26AFB99FE"  Source="$(var.ClientFilesDir)\Krista.FM.Client.ViewObjects.AdministrationUI.dll" />
          <File Id="fil9BB16F67BD9F0F7EC3073C8153FDE7AA"  Source="$(var.ClientFilesDir)\Krista.FM.Client.ViewObjects.AdministrationUI.pdb" />
          <File Id="filD569BAF5F3527D5C3C799AC44BC76153"  Source="$(var.ClientFilesDir)\Krista.FM.Client.ViewObjects.AssociatedCLSUI.dll" />
          <File Id="filBEB0D955B0599CB7FA609E8698ACAAA8"  Source="$(var.ClientFilesDir)\Krista.FM.Client.ViewObjects.AssociatedCLSUI.pdb" />
          <File Id="fil90C5C65C1B76FB32BBFAE038338D5617"  Source="$(var.ClientFilesDir)\Krista.FM.Client.ViewObjects.ConsBudgetForecastUI.dll" />
          <File Id="filB69F3F1801FE4BB7745372BDC3E7FD70"  Source="$(var.ClientFilesDir)\Krista.FM.Client.ViewObjects.ConsBudgetForecastUI.pdb" />
          <File Id="fil98F60F4D5390C7F0D914E8E8681EF772"  Source="$(var.ClientFilesDir)\Krista.FM.Client.ViewObjects.DataPumpUI.dll" />
          <File Id="filFF70EAEBBB3F656B0105360EF0B6B0B2"  Source="$(var.ClientFilesDir)\Krista.FM.Client.ViewObjects.DataPumpUI.pdb" />
          <File Id="filCBF047AD72F7084B0D4F7F6BBF2E9E8C"  Source="$(var.ClientFilesDir)\Krista.FM.Client.ViewObjects.DataSourcesUI.dll" />
          <File Id="fil63F8306BE231F70E02056537EFDD83EC"  Source="$(var.ClientFilesDir)\Krista.FM.Client.ViewObjects.DataSourcesUI.pdb" />
          <File Id="fil16BF2B5E0F0E3297A3ACE6E512CF2F01"  Source="$(var.ClientFilesDir)\Krista.FM.Client.ViewObjects.DisintRulesUI.dll" />
          <File Id="fil2B9D200CF0114F3A794FB0948420D762"  Source="$(var.ClientFilesDir)\Krista.FM.Client.ViewObjects.DisintRulesUI.pdb" />
          <File Id="filAD28DD0DE9FCC2CEE61627E577A68998"  Source="$(var.ClientFilesDir)\Krista.FM.Client.ViewObjects.FinSourceDebtorBookUI.dll" />
          <File Id="fil13E1267A10C6237865918B584E89FA29"  Source="$(var.ClientFilesDir)\Krista.FM.Client.ViewObjects.FinSourceDebtorBookUI.pdb" />
          <File Id="filFB0334B2A9DF89BB67CED06A490FBBF3"  Source="$(var.ClientFilesDir)\Krista.FM.Client.ViewObjects.FinSourcePlanningUI.dll" />
          <File Id="fil9F513D7E05F48E40CD7D42BA614870C7"  Source="$(var.ClientFilesDir)\Krista.FM.Client.ViewObjects.FinSourcePlanningUI.pdb" />
          <File Id="filCF51A12FAF99D3803F1D39E48E532A2C"  Source="$(var.ClientFilesDir)\Krista.FM.Client.ViewObjects.ForecastUI.dll" />
          <File Id="filB0BD1B6C0C74873182539D7BD672DF7B"  Source="$(var.ClientFilesDir)\Krista.FM.Client.ViewObjects.ForecastUI.pdb" />
          <File Id="fil055C158C90491A364028B9DA330D73E6"  Source="$(var.ClientFilesDir)\Krista.FM.Client.ViewObjects.GlobalConstsUI.dll" />
          <File Id="filEDF68F707C0953388A984FE498388D67"  Source="$(var.ClientFilesDir)\Krista.FM.Client.ViewObjects.GlobalConstsUI.pdb" />
          <File Id="fil1C1915E3E2A4CA808048075FB1FFB5AC"  Source="$(var.ClientFilesDir)\Krista.FM.Client.ViewObjects.MDObjectsManagementUI.dll" />
          <File Id="fil5F7D2492388AB91A666C9AA50F0D0875"  Source="$(var.ClientFilesDir)\Krista.FM.Client.ViewObjects.MDObjectsManagementUI.pdb" />
          <File Id="filCE1CCB47C33CB7562F03FAFBB8763A9C"  Source="$(var.ClientFilesDir)\Krista.FM.Client.ViewObjects.ProtocolsUI.dll" />
          <File Id="fil1FCC66A0C21C55D4CE1FB1BE586BE5CF"  Source="$(var.ClientFilesDir)\Krista.FM.Client.ViewObjects.ProtocolsUI.pdb" />
          <File Id="fil0B1204AE0CBAA6CB80E1C3B07798498D"  Source="$(var.ClientFilesDir)\Krista.FM.Client.ViewObjects.TasksUI.dll" />
          <File Id="fil4B374B296FF004B4C6949D7E1BF86E98"  Source="$(var.ClientFilesDir)\Krista.FM.Client.ViewObjects.TasksUI.pdb" />
          <File Id="fil74623A367EBC3884FE0B5C849FE57C9A"  Source="$(var.ClientFilesDir)\Krista.FM.Client.ViewObjects.TemplatesUI.dll" />
          <File Id="fil77E5E6D554843EE936EE26CE81BDEC14"  Source="$(var.ClientFilesDir)\Krista.FM.Client.ViewObjects.TemplatesUI.pdb" />
          <File Id="filE7269B16A55AA514B23156D448CF80C9"  Source="$(var.ClientFilesDir)\Krista.FM.Client.Workplace.exe" />
          <File Id="fil8AB30A4140AFEE8BFA1FEEC67063BEEF"  Source="$(var.ClientFilesDir)\Krista.FM.Client.Workplace.exe.config" />
          <File Id="filAE0BCFDB1EEE8BDC125197DE73489851"  Source="$(var.ClientFilesDir)\Krista.FM.Client.Workplace.pdb" />
          <File Id="fil8E3106B3ACA82467A4AACEF39E5E4337"  Source="$(var.ClientFilesDir)\Krista.FM.Common.dll" />
          <File Id="filB2C202343C042A5F06D10A0893D636C5"  Source="$(var.ClientFilesDir)\Krista.FM.Common.MdxExpertHelpers.dll" />
          <File Id="filA7AF5D8224418A83F870E95F0C8B47CA"  Source="$(var.ClientFilesDir)\Krista.FM.Common.MdxExpertHelpers.pdb" />
          <File Id="fil0EAFED0463223B566B8F0A14A0526652"  Source="$(var.ClientFilesDir)\Krista.FM.Common.OfficeHelpers.dll" />
          <File Id="fil30DCFE62F2B4EFC5004D61AA8278768B"  Source="$(var.ClientFilesDir)\Krista.FM.Common.OfficeHelpers.pdb" />
          <File Id="filB9E7C6CF8565C191CC9F6D1B609ED1E2"  Source="$(var.ClientFilesDir)\Krista.FM.Common.OfficePluginServices.dll" />
          <File Id="fil5716DC6193E59C94100AF58268CECB67"  Source="$(var.ClientFilesDir)\Krista.FM.Common.pdb" />
          <File Id="fil100420C3F4635F338E125A9540DA2DB0"  Source="$(var.ClientFilesDir)\Krista.FM.Common.ReportHelpers.dll" />
          <File Id="fil0AC341910BAE5DF89078584CED27E642"  Source="$(var.ClientFilesDir)\Krista.FM.Common.ReportHelpers.pdb" />
          <File Id="fil1575F85BD01A3693B746D8211E3153EF"  Source="$(var.ClientFilesDir)\Krista.FM.Common.TaskDocuments.dll" />
          <File Id="fil68B78348B5BB9E2F81996E522093599D"  Source="$(var.ClientFilesDir)\Krista.FM.Common.TaskDocuments.pdb" />
          <File Id="filA757FE84A71A556FDD2AAA27F2308AC1"  Source="$(var.ClientFilesDir)\Krista.FM.Common.Tasks.dll" />
          <File Id="fil031A707E19F2E5345B9CF1D75AE970B7"  Source="$(var.ClientFilesDir)\Krista.FM.Common.Tasks.pdb" />
          <File Id="filF4EDEBA7737D9A47BA67B358136828A7"  Source="$(var.ClientFilesDir)\Krista.FM.Common.Templates.dll" />
          <File Id="fil9FE0C653B3A8C56EAAAC7DAAC74F6730"  Source="$(var.ClientFilesDir)\Krista.FM.Common.Templates.pdb" />
          <File Id="fil6C1F472C5A1FB82D59000CCBD68E9367"  Source="$(var.ClientFilesDir)\Krista.FM.Domain.dll" />
          <File Id="fil05190998511D6767B98A674837B46C49"  Source="$(var.ClientFilesDir)\Krista.FM.Domain.pdb" />
          <File Id="filB2029AC8DC4272AB7C8FF452F03063D6"  Source="$(var.ClientFilesDir)\Krista.FM.Domain.Reporitory.dll" />
          <File Id="fil364E756F8F92CBE9CCFCD0BA3F591BEF"  Source="$(var.ClientFilesDir)\Krista.FM.Domain.Reporitory.NHibernate.dll" />
          <File Id="filEAF730202719449AACFC55CBE0E186AE"  Source="$(var.ClientFilesDir)\Krista.FM.Domain.Reporitory.NHibernate.pdb" />
          <File Id="filD0680DCE41A9EC112E3D47002EBB2943"  Source="$(var.ClientFilesDir)\Krista.FM.Domain.Reporitory.pdb" />
          <File Id="filF6DCAA7507B2FCDED195651D9C4E71B1"  Source="$(var.ClientFilesDir)\Krista.FM.Domain.Services.FinSourceDebtorBook.dll" />
          <File Id="fil0A25EF77C3857878D4D16F73EEE23CEC"  Source="$(var.ClientFilesDir)\Krista.FM.Domain.Services.FinSourceDebtorBook.pdb" />
          <File Id="fil1434CAFAC9DA49D994D970EFFE1B59EA"  Source="$(var.ClientFilesDir)\Krista.FM.Domain.Services.FinSourceDebtorBook.Reports.dll" />
          <File Id="filA3C3E108363044E789590FC9A8C4334C"  Source="$(var.ClientFilesDir)\Krista.FM.Domain.Services.FinSourceDebtorBook.Reports.pdb" />
          <File Id="fil18B5C850A6C598FA0E994056382FA154"  Source="$(var.ClientFilesDir)\Krista.FM.Extensions.dll" />
          <File Id="filB2C9B15EB02187896CFBCC907D91726C"  Source="$(var.ClientFilesDir)\Krista.FM.Extensions.pdb" />
          <File Id="fil0FC7D30100542867BFF8D4ED5F5EF238"  Source="$(var.ClientFilesDir)\Krista.FM.Providers.DataAccess.dll" />
          <File Id="fil10289B139F2EB7011B2C2354B2701508"  Source="$(var.ClientFilesDir)\Krista.FM.Providers.DataAccess.pdb" />
          <File Id="fil6AA036EBE866C9C970933374A5EB2C5D"  Source="$(var.ClientFilesDir)\Krista.FM.Providers.VSS.dll" />
          <File Id="fil351F5C1B2F4431B6897E6E68ACD2B115"  Source="$(var.ClientFilesDir)\Krista.FM.Providers.VSS.pdb" />
          <File Id="filDAFD10D0C5E9C03735684A85C9B32B1F"  Source="$(var.ClientFilesDir)\Krista.FM.ServerLibrary.dll" />
          <File Id="fil746FDD0AE7B901E9A16B1813D65D44B8"  Source="$(var.ClientFilesDir)\Krista.FM.ServerLibrary.pdb" />
          <File Id="fil559A6D3C566F02D4F746A310F1DA0AF2"  Source="$(var.ClientFilesDir)\Krista.FM.Update.framework.dll" />
          <File Id="fil2D983FA66AC1423386B5A2B2B171C0A7"  Source="$(var.ClientFilesDir)\Microsoft.Practices.Unity.dll" />
          <File Id="fil38603E52B4BB559EDBBA83929E86B504"  Source="$(var.ClientFilesDir)\Microsoft.AnalysisServices.DLL" />
          <File Id="filE196B0B1A1C76FDFAFDAA08356965C39"  Source="$(var.ClientFilesDir)\Microsoft.Practices.ServiceLocation.dll" />
          <File Id="fil18EF62B98ABB74747BCEB0457059B72F"  Source="$(var.ClientFilesDir)\NHibernate.ByteCode.Castle.dll" />
          <File Id="filD190FAC7DE4CA0CB7E3EAF4257099F25"  Source="$(var.ClientFilesDir)\NHibernate.dll" />
          <File Id="filA5137EE9DE9320D2239060B38073BD81"  Source="$(var.ClientFilesDir)\NPOI.DDF.dll" />
          <File Id="fil26EDAEBAEB4ECF3920926F51BCC3E260"  Source="$(var.ClientFilesDir)\NPOI.dll" />
          <File Id="filC1CCA679E1D51BBD8B72AC0A371351D7"  Source="$(var.ClientFilesDir)\NPOI.HPSF.dll" />
          <File Id="filE46AD6DC9E6C8FB908F24E40350D07D6"  Source="$(var.ClientFilesDir)\NPOI.HSSF.dll" />
          <File Id="filD61B7EF61A94398041C763045FAFC7EF"  Source="$(var.ClientFilesDir)\NPOI.POIFS.dll" />
          <File Id="filA89EB7D64116465300E23A8858378252"  Source="$(var.ClientFilesDir)\NPOI.Util.dll" />
          <File Id="fil3E6D407ACF6672B2738CE7FA8746CAEF"  Source="$(var.ClientFilesDir)\nunit.framework.dll" />
          <File Id="fil7AD3F7B44BFD33F632155DBCB7C767F6"  Source="$(var.ClientFilesDir)\ParametersChecks.xml" />
          <File Id="filA9A6E8B64BF3AED4A48ACE7855BFEF08"  Source="$(var.ClientFilesDir)\ServerConfiguration.xsd" />
          <File Id="fil6FA3A965EEC3842588D32FC40F5CB457"  Source="$(var.ClientFilesDir)\WindowsBase.dll" />
          <File Id="filCB5DAF37B6F4136563B7BA06F521665B"  Source="$(var.ClientFilesDir)\zlib.net.dll" />

          <File Id="fil6091E37295244CF189761A1F7E960898" Source="$(var.ClientFilesDir)\Руководство администратора.doc" ></File>
          <File Id="filAD53485EDFEB4256A49BE3EA894EDD1F" Source="$(var.ClientFilesDir)\Руководство пользователя.doc" ></File>
          <File Id="fil2463381E218C4421B450F3F3C4151D04" Source="$(var.ClientFilesDir)\Справка по многомерной базе.chm" ></File>
          <File Id="fil0F17A4931AA2407DB8428C145A83C08E" Source="$(var.ClientFilesDir)\Справка по структуре данных.chm" ></File>
                    
          <!--Дополнительные файлы, копируются в папку с клиентом самостоятельно-->
          <File Id='fil48437661E12F44DDA9051068EA123DBA' Source="$(var.ClientFilesDir)\Renaming.dll"/>
          
          <!-- 3.1 -->
          <File Id="fil1625189E80E8470592B4878B7320A001" Source="$(var.ClientFilesDir)\Interop.Excel.dll" ></File>
          <File Id="filABF1F59394924A4D9491FE84D8CEA930" Source="$(var.ClientFilesDir)\Interop.Microsoft.Office.Core.dll" ></File>
          <File Id="fil3B4D8C33BC694CCF90D4E547E5D457ED" Source="$(var.ClientFilesDir)\Interop.VBIDE.dll" ></File>
          <File Id="fil5F885A23AA1E4D4B904AC010D84C75C8" Source="$(var.ClientFilesDir)\Krista.FM.Client.ViewObjects.MessagesUI.dll" ></File>
          <File Id="filB313133C96D5465CB38F31C5C8923BFF" Source="$(var.ClientFilesDir)\Krista.FM.Client.ViewObjects.MessagesUI.pdb" ></File>
          <File Id="fil22269EC824E44AC9911D6B5D6E6FCCAB" Source="$(var.ClientFilesDir)\Krista.FM.Client.ViewObjects.MessagesUI.Tests.pdb" ></File>
          <File Id="filC675DBBE11CC41A3B5CC3EC73AE4FBDE" Source="$(var.ClientFilesDir)\Krista.FM.Client.ViewObjects.MessagesUI.Tests.dll" ></File>
          <File Id="filF91935F7B96B477FBAE46EF58DDB3B8A" Source="$(var.ClientFilesDir)\Microsoft.Practices.Unity.Interception.dll" ></File>
          <File Id="filDF08FD6D0EFC49BD8F373B2972E349D9" Source="$(var.ClientFilesDir)\Newtonsoft.Json.dll" ></File>
          <File Id="fil74448F061FF84DFE886394F4394F0D18" Source="$(var.ClientFilesDir)\NHibernate.Linq.dll" ></File>
          <File Id="filED1922F2ED5E47CDABECE10FF8E98C02" Source="$(var.ClientFilesDir)\Krista.FM.Client.Workplace.bat" ></File>
          <File Id="filB00C27004CD041589124C49D63F3F00C" Source="$(var.ClientFilesDir)\Krista.FM.Client.ViewObjects.ReportsUI.dll" ></File>
          <File Id="fil3E9E69C980D549CEB79C241DD6B24EEC" Source="$(var.ClientFilesDir)\Krista.FM.Client.ViewObjects.ReportsUI.pdb" ></File>
          <File Id="filF6CC6B405FB1437C8F5D78E3D6F136B5" Source="$(var.ClientFilesDir)\Krista.FM.Common.TaskParamEditors.dll" ></File>
          <File Id="fil9B53F1C415FD43459BBEA302243139BE" Source="$(var.ClientFilesDir)\Krista.FM.Common.TaskParamEditors.pdb" ></File>
          <File Id="filC78D35A16032494480CEBAAAEBDB5E2E" Source="$(var.ClientFilesDir)\Krista.FM.Client.OlapAdmin.Connection.dll" ></File>
          <File Id="fil9EE115CE71D14A0F9E5807A70FDF43D2" Source="$(var.ClientFilesDir)\Krista.FM.Client.OlapAdmin.Connection.pdb" ></File>
          
          <RemoveFile Id="fil086D437A0CB94C95A2D73F94F5512897" Name="*.*" On="uninstall"  Directory="ClientFolder"/>
        <RemoveFolder Id="fil0232F1ECD41B4C2A93FB38F089298396" On="uninstall" Directory="ClientFolder"/>
      </Component>

        <Directory Id="dir57753A5B733144359B5AE9AB26C20A04" Name="Styles">
          <Component Id ="comACB8B1A4356B467EABB5477802EEE81F" Guid="{959579DF-7BA5-43DA-B609-2192588D5850}" Feature="ProductFeature">
            <File Id="f3385590EF2A34EDA98E784C1DCFF30E6" Source="$(var.ClientFilesDir)\Styles\Office 2007 (голубая).isl"/>
            <File Id="f0DFBD9BD30B14495B7214DDF95A0966A" Source="$(var.ClientFilesDir)\Styles\Office 2007 (серебро).isl"/>
            <File Id="f651162B0D82E436DA3DE98F42531A3A8" Source="$(var.ClientFilesDir)\Styles\Office 2007 (черная).isl"/>
            <File Id="fEAB987D80F194310B5D6E5B65B9D57E8" Source="$(var.ClientFilesDir)\Styles\Воздушная.isl"/>
            <File Id="f491A66AFCF1D49C38F54A956EFBCB251" Source="$(var.ClientFilesDir)\Styles\Официальная.isl"/>
            <File Id="fC399C8E2E1F04E498C5BDB04EC6AE4B9" Source="$(var.ClientFilesDir)\Styles\Природа.isl"/>
          </Component>
        </Directory>

        <Directory Id="dir8DC6D91152234804A3F2D2C7859D7A41" Name="Properties">
          <Component Id="comDC980DD112584253B56680805A4AAEE7" Guid="{707F98B4-F173-4053-B0E5-E2304A7D55CC}" Feature="ProductFeature">
            <File Id="f8579EC7D518644E59BE0774C6807EFCA" Source="$(var.ClientFilesDir)\Properties\App.config"/>
          </Component>
        </Directory>

        <Directory Id="fil5199E322484747BAAD0BFBBDAF418316" Name="Platform">
          <Directory Id="fil7D1C20E081434445AA463A2E73925D73" Name="x32">
            <Component Id="fil95EC70149E3C48A3AA1F213324524B2E" Guid="99C031E9-D71F-4243-B100-6852AD45E0E8" Feature="ProductFeature">
              <File Id="filD228850B27304F36930185F8EC793ED0" Source="$(var.ClientFilesDir)\Platform\x32\CalumMcLellan.StructuredStorage.dll" />
            </Component>
          </Directory>
          <Directory Id="fil2A2C617F833F4649A5F896FCFFED2431" Name="x64">
            <Component Id="fil0EA3418522CD43B78AC6F6209ECC4D74" Guid="73620825-8C6E-4A81-8FF0-6FDC075AC149" Feature="ProductFeature">
              <File Id="filF57BC9D5ED73487281DE80ABDFD72E7B" Source="$(var.ClientFilesDir)\Platform\x64\CalumMcLellan.StructuredStorage.dll" />
            </Component>
          </Directory>
        </Directory>
      
    </DirectoryRef>

  </Fragment>
</Wix>