<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" 
     xmlns:iis="http://schemas.microsoft.com/wix/IIsExtension"
     xmlns:util="http://schemas.microsoft.com/wix/UtilExtension"
     xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension">

  <?include Variables.wxi?>

  <Product Id="$(var.ProductCode)" Name="Криста Служба автоматического обновления" Language="1033" Version="$(var.ProductVersion)" Manufacturer="$(var.Manufacturer)" UpgradeCode="$(var.UpgradeCode)">
    <Package Id='*' InstallerVersion="200" Compressed="yes" />
    <Icon Id="Update.ico" SourceFile=".\App\Icon\Updateicon.ico" />

    <!-- Обязательные свойства для каждого инсталлятора -->
    <Property Id="ARPCOMMENTS" Value="Служба автоматического обновления (Криста)" />
    <Property Id="ARPHELPLINK" Value="fmsupport@krista.ru" />
    <Property Id="ARPHELPTELEPHONE" Value="8-(4855)-291-750,  8-(4855)-291-751" />
    <Property Id="ARPURLUPDATEINFO" Value="http://www.krista.ru" />
    <Property Id="ARPPRODUCTICON" Value="Update.ico" />

    <Upgrade Id='$(var.UpgradeCode)'>
      <UpgradeVersion OnlyDetect='yes' Property='NEWERFOUND' Minimum='$(var.ProductVersion)' IncludeMinimum='no' />
    </Upgrade>
   
    <Media Id="1" Cabinet="media1.cab" EmbedCab="yes" />
    
    <Property Id="ALLUSERS" Value="1" />
    <Property Id="_localPathBrowse" Value="C:/"/>
    <PropertyRef Id="NETFRAMEWORK35"/>
    <PropertyRef Id="NETFRAMEWORK35_SP_LEVEL"/>

    <Property Id="IIS_MAJOR_VERSION">
      <RegistrySearch Id="CheckIISVersion" Root="HKLM" Key="SOFTWARE\Microsoft\InetStp" Name="MajorVersion" Type="raw" />
    </Property>
    
    <Property Id="VIRTUAL_PORT_VAL">
      <RegistrySearch Id="Port" Root="HKLM" Key="Software\$(var.Manufacturer)\$(var.Division)\$(var.ProductName)" Name="IIS_Port" Type="raw" />
    </Property>

    <Condition Message="IIS должен быть установлен">
      <![CDATA[Installed OR IIS_MAJOR_VERSION]]>
    </Condition>

    <Condition Message="Приложение требует установленного .NET Framework 3.5 SP1. Пожалуйста установите .NET Framework и повторно запустите инсталлятор.">
      <![CDATA[Installed OR (NETFRAMEWORK35_SP_LEVEL and NOT NETFRAMEWORK35_SP_LEVEL = "#0")]]>
    </Condition>
      
    <Directory Id="TARGETDIR" Name="SourceDir">

      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLLOCATION3" Name="$(var.Manufacturer)">
          <Directory Id="INSTALLLOCATION2" Name="$(var.Division)">
            <Directory Id="INSTALLDIR" Name="$(var.ProductName)">
                <Directory Id="WebApplicationFolder" Name="FMLocalAppStore" />
                <Directory Id="LocalPatchStoreFolder" Name="FMLocalAppStore" />
                <Directory Id="AppDir" Name="App">
                  <Directory Id="ClientFolder" Name="Client"/>
                  <Directory Id="MDXExpertFolder" Name="MDXExpert"/>
                  <Directory Id="OfficeAddInFolder" Name="Office Add-in"/>
                  <Directory Id="Icon" Name="Icon"/>
                  <Directory Id="Wix" Name="Wix">
                    <Directory Id="WixVer36" Name="3.6">
                      <Directory Id="x86" Name="x86"/>                      
                    </Directory>
                    <Directory Id="WixVer" Name="3.5"/>
                    <Directory Id="Bitmap" Name="Bitmaps"/>
                  </Directory>
                </Directory>
                <Directory Id="ExternalApp" Name="ExternalApp"/>
            </Directory>
          </Directory>
        </Directory>
      </Directory>

      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder3" Name="Криста">
          <Directory Id="ApplicationProgramsFolder2" Name="$(var.Division)">
            <Directory Id="ApplicationProgramsFolder" Name="$(var.ProductName)">
            </Directory>
          </Directory>
        </Directory>
      </Directory>

      <Directory Id="StartupFolder" Name="Startup"/>
    </Directory>

      <Feature Id="ProductFeature" Title="$(var.ProductName)" Level="1">
        <ComponentRef Id="ProductComponent" />
        <ComponentRef Id="SiteFiles"/>
        <ComponentRef Id="CreateVirtualDirectory"/>
        <ComponentRef Id="CreateVirtualDirectoryOnNewWebsite"/>
        <ComponentRef Id="ClientComponent"/>
        <ComponentRef Id="MDXExpertComponent"/>
        <ComponentRef Id="ApplicationShortcut" />
        <ComponentRef Id="OfficeAddInComponent" />
      </Feature>
    
    <UI>
      <Property Id="DefaultUIFont" Value="WixUI_Font_Normal" />
      <TextStyle Id="WixUI_Font_Normal" FaceName="Tahoma" Size="8" />
      <TextStyle Id="WixUI_Font_Bigger" FaceName="Tahoma" Size="12" />
      <TextStyle Id="WixUI_Font_Title" FaceName="Tahoma" Size="9" Bold="yes" />

      <Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR" />
      <Property Id="WixUI_DataDirDlg_Browse" Value="BrowseDlg" />

      <DialogRef Id="UserExit" />
      <DialogRef Id="ErrorDlg" />
      <DialogRef Id="FatalError" />
      <DialogRef Id="FilesInUse" />
      <DialogRef Id="BrowseDlg" />
      
      <UIRef Id="MyWebUI" />

      <Publish Dialog="BrowseDlg" Control="OK" Event="DoAction" Value="WixUIValidatePath" Order="3">1</Publish>
      <Publish Dialog="BrowseDlg" Control="OK" Event="SpawnDialog" Value="InvalidDirDlg" Order="4"><![CDATA[WIXUI_INSTALLDIR_VALID<>"1"]]></Publish>

      <Publish Dialog="ExitDialog" Control="Finish" Event="EndDialog" Value="Return" Order="999">1</Publish>
      <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="InstallDirDlg">1</Publish>

      <Publish Dialog="InstallDirDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg">1</Publish>
      <Publish Dialog="InstallDirDlg" Control="Next" Event="SetTargetPath" Value="[WIXUI_INSTALLDIR]" Order="1">1</Publish>
      <Publish Dialog="InstallDirDlg" Control="Next" Event="NewDialog" Value="UserSettingsDlg" Order="2">1</Publish>

      <Publish Dialog="InstallDirDlg" Control="ChangeFolder" Property="_BrowseProperty" Value="[WIXUI_INSTALLDIR]" Order="1">1</Publish>
      <Publish Dialog="InstallDirDlg" Control="ChangeFolder" Event="SpawnDialog" Value="BrowseDlg" Order="2">1</Publish>

      <Publish Dialog="MaintenanceWelcomeDlg" Control="Next" Event="NewDialog" Value="MaintenanceTypeDlg">1</Publish>
      <Publish Dialog="MaintenanceTypeDlg" Control="RepairButton" Event="NewDialog" Value="VerifyReadyDlg">1</Publish>
      <Publish Dialog="MaintenanceTypeDlg" Control="RemoveButton" Event="NewDialog" Value="VerifyReadyDlg">1</Publish>
      <Publish Dialog="MaintenanceTypeDlg" Control="Back" Event="NewDialog" Value="MaintenanceWelcomeDlg">1</Publish>

      <Publish Dialog="LocalPatchStoreDlg" Control="ChangeFolder" Property="_BrowseProperty" Value="[UI_INSTALLDIR]" Order="1">1</Publish>
      <Publish Dialog="LocalPatchStoreDlg" Control="ChangeFolder" Event="SpawnDialog" Value="BrowseDlg" Order="2">1</Publish>

      <ProgressText Action="RunBatFile">Создание инсталляторов... (это может занять несколько минут).</ProgressText>
      <ProgressText Action="RunBatFileAsAdmin">Создание инсталляторов... (это может занять несколько минут).</ProgressText>

      <Publish Dialog="LocalPatchStoreDlg" Control="Next" Property="LOCALFMPATCHSTORE" Value="[LocalPatchStoreFolder]" Order="2">1</Publish>
      <Publish Dialog="IisSetupDlg" Control="Next" Property="SHARED_DIR" Value="http://[ComputerName]:[VIRTUAL_PORT_VAL]/" Order="2">
        <![CDATA[VIRTUAL_PORT_VAL<>"80"]]>
      </Publish>
      <Publish Dialog="IisSetupDlg" Control="Next" Property="SHARED_DIR" Value="http://[ComputerName]/[VIRTUAL_DIR]/" Order="2">
        <![CDATA[VIRTUAL_PORT_VAL="80"]]>
      </Publish>

      <Property Id="UI_INSTALLDIR" Value="LocalPatchStoreFolder" />
      
    </UI>

    <Property Id="WixShellExecTarget" Value="[#Krista.FM.Update.NotifyIconApp.exe]" />
    <CustomAction Id="LaunchApplication"
          BinaryKey="WixCA"
          DllEntry="WixShellExec"
          Impersonate="yes" />
    
    <InstallExecuteSequence>
      <Custom Action="RunBatFileAsAdmin" After="InstallFinalize">((NOT INSTALLED) OR (NOT NEWERFOUND)) 
          AND (NOT REMOVE="ALL")</Custom>
      <!--<Custom Action="RunBatFile" After="InstallFinalize">
        ((NOT INSTALLED) OR (NOT NEWERFOUND))
        AND (NOT REMOVE="ALL") AND (VersionNT = 500 OR VersionNT = 501 OR VersionNT = 502)
      </Custom>
      -->
      <!--<Custom Action="DeleteFolder" Sequence="3490">Installed</Custom>-->
      <Custom Action="LaunchApplication" After="InstallFinalize">NOT INSTALLED AND (NOT REMOVE="ALL")</Custom>
      <Custom Action="DeleteFolder" After="RemoveFiles"><![CDATA[REMOVE="ALL" AND NOT UPGRADINGPRODUCTCODE]]></Custom>
      <Custom Action="DeleteFolderInstall" After="RunBatFileAsAdmin">NOT INSTALLED AND (NOT REMOVE="ALL")</Custom>
      <Custom Action="KillNotifyProcess" After="FindRelatedProducts">
        <![CDATA[REMOVE="ALL" AND NOT UPGRADINGPRODUCTCODE]]>
      </Custom>

    </InstallExecuteSequence>

   </Product>
</Wix>
