<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="webReportsSettingsSection" type="Krista.FM.Client.WebReportsCommon.WebReportsSettingsSection, Krista.FM.Client.WebReportsCommon, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" allowDefinition="Everywhere" allowExeDefinition="MachineToApplication" restartOnExternalChanges="true" />
  </configSections>

  <appSettings>
  <!--  <add key="SchemeServerName" value="fmserv:8008"/>
    <add key="SchemeUserName" value="krista2\fedorov"/>
    <add key="SchemeUserPswSHA512" value=""/>
    <add key="IsWindowsAuthentication" value="True"/>-->
    <add key="BootloadServiceName" value="localhost:7999"/>
  </appSettings>

  <webReportsSettingsSection>
    <!--<reportsHostAddress value="http://arch.krista.ru/site/reports/iPhone/default.aspx" />-->
    <reportsHostAddress value="http://avolkov.krista.ru/test/reports/iphone/default.aspx" />
    <!--<reportsHostAddress value="http://fm1.krista.ru/yaroslavl/reports/iphone/default.aspx" />-->
    <!--<reportsHostAddress value="http://fm1.krista.ru/reports/iphone/default.aspx" />-->
    <!--<reportsHostAddress value="http://barkova.krista.ru/fm/reports/iPhone/default.aspx" />-->
    <!--<reportsHostAddress value="http://bogoyavlensky.krista.ru/dash/reports/iPhone/default.aspx" />-->
   <!-- <reportsHostAddress value="http://10.0.100.186/sgm/reports/iphone/default.aspx" />-->
    <reportsHostAuthorization enabled="True" login="test" password="test" />
    <!--Релизная версия или нет-->
    <isRelease value="True" />
	<!--Новый режим сохранения отчета, когда после загрузки каждый отчет архивируется. 
		Так же изменяются пути сохранения отчетов. Те что генерятся по новой схеме помещаются 
		в NewModeSnapshot, старые соответственно в OldModeSnapshot-->
	<IsNewSnapshotMode value="True" />
	<!--Оптимизировать HTML (удяляет лишние пробелы, переносы строк, и т.д.)-->
    <isOptimazeHTML value="True" />
    <!--Тип расширения с которым сохраняется отчет, PHP или HTM-->
    <reportExtension value="PHP" />
    <!--Допустимый процент ошибок при генерировании отчетов.-->
    <allowedErrorProcent value="0" />
    <!--Режимы загрузки скриптов:
		Custom - все стандартные скрипты заменяются на наши, в котором содержаться только необходимые JawaScripts. 
		NotDownload-  не сохранять скрипты. 
		DownloadSource - сохранять страницу с исходными скриптами. -->
    <scriptsDownloadMode value="Custom" />
    <!--Путь сохранения пакета с данными для сайта-->
    <dataBurstSavePath value="D:\WebReportsHelper" />

    <!--Настройки прокси для выхода в интернет-->
    <proxySettings address="proxy.krista.ru" port="8080" login="" password="" />

    <!--Ip сайта, на который закачиваем сгенерированную отчетность-->
    <!--Uri сайта, на который закачиваем сгенерированную отчетность-->
    <!--Настройки авторизации сайта на который закачиваем сгенерированную отчетность-->
    <!--Каталог сайта PHP на удаленом серверев-->

    <distHostIpAddress value="62.113.86.14" />
    <distHostUriAddress value="http://www.imon.krista.ru" />
    <distHostAuthorization enabled="True" login="vh33351" password="2FmMQTr2sC" />
    <distHostPath value="/bhome/part3/03/vh33351/imon.krista.ru/www" />

     <!--Настройки для www.imon.krista.ru/Test -->
  <!--  <distHostIpAddress value="62.113.86.14" />
    <distHostUriAddress value="http://www.imon.krista.ru/Test" />
    <distHostAuthorization enabled="True" login="vh33351" password="2FmMQTr2sC" />
    <distHostPath value="/bhome/part3/03/vh33351/imon.krista.ru/www/Test" />-->

    <!-- Настройки для локального хоста -->
    <!--<distHostIpAddress value="127.0.0.1" />
    <distHostUriAddress value="http://localhost/NewHost" />
    <distHostAuthorization enabled="false" login="" password="" />
    <distHostPath value="C:\xampp\htdocs\NewHost" />-->
  </webReportsSettingsSection>

  <system.diagnostics>
    <sources>
      <source name="Krista.FM.Client.WebReportsHelper" switchValue="Verbose">
        <listeners>
          <add name="ColoredConsole"/>
          <add name="FileTextWriter"/>
          <remove name="Default"/>
        </listeners>
      </source>
      <source name="Krista.FM.Client.ReportsUploader" switchValue="Verbose">
        <listeners>
          <add name="ColoredConsole"/>
          <add name="FileTextWriter"/>
          <remove name="Default"/>
        </listeners>
      </source>
      <source name="Krista.FM.Client.ReportsBootloader" switchValue="Verbose">
        <listeners>
          <add name="ColoredConsole"/>
          <add name="FileTextWriter"/>
          <remove name="Default"/>
        </listeners>
      </source>
      <source name="Krista.FM.Client.ReportsBootloaderConsole" switchValue="Verbose">
        <listeners>
          <add name="ColoredConsole"/>
          <add name="FileTextWriter"/>
          <remove name="Default"/>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="ColoredConsole" type="Krista.Diagnostics.ColoredConsoleTraceListener, Krista.Diagnostics"/>
      <add name="FileTextWriter" type="System.Diagnostics.TextWriterTraceListener, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" initializeData="WebReportsHelper.log"/>
      <!--
      <add name="ChatServer" type="Krista.Diagnostics.ChatServerTraceListener, Krista.Diagnostics" initializeData="tcp://fmserv:889/Krista.ChatServer/Server.rem"/>
      -->
    </sharedListeners>
  </system.diagnostics>
  <system.runtime.remoting>
    <application name="ReportsBootloaderService">
      <service>
        <wellknown mode="Singleton" type="Krista.FM.Client.WebReportsHelper.SnapshotServer, Krista.FM.Client.WebReportsHelper" objectUri="Server.rem" />
      </service>
      <channels>
        <channel ref="tcp" port="7999">
          <serverProviders>
            <formatter ref="binary" typeFilterLevel="Full" />
          </serverProviders>
        </channel>
      </channels>
    </application>
    <customErrors mode="Off"/>
  </system.runtime.remoting>
</configuration>