1 VERSIONINFO
FILEVERSION 2,3,9,0
PRODUCTVERSION 	2,3,9

BEGIN
	BLOCK "StringFileInfo"
	BEGIN
		BLOCK "041904E4"
    BEGIN
      VALUE "CompanyName", "НПО \"Криста\" www.krista.ru\000\000"
      VALUE "FileDescription", "Надстройка для MS Excel\000"
      VALUE "FileVersion", "2.3.9.0\000\000"
      VALUE "InternalName", "FMExcelAddin\000"
      VALUE "LegalCopyright", "\000\000"
      VALUE "OriginalFilename", "FMExcelAddin.dll\000"
      VALUE "ProductName", "Надстройка для MS Excel\000"
      VALUE "ProductVersion", "2.3.9\000\000"
    END
	END

	BLOCK "VarFileInfo"
	BEGIN
		VALUE "Translation", 0x419, 1252
	END
END
