<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

  <?include Variables.wxi?>

  <Product Id="$(var.ProductCode)" Name="Криста Клиент" Language="1049" Version="$(var.ProductVersion)" Manufacturer="$(var.Manufacturer)" UpgradeCode="$(var.UpgradeCode)">
    <Package InstallerVersion="200" Compressed="yes"/>
    
    <Icon Id="Client.ico" SourceFile="..\..\App\Icon\Client.ico" />

    <!-- Обязательные свойства для каждого инсталлятора -->
    <Property Id="ARPCOMMENTS" Value="Windows клиент (Workplace, SchemeDesigner, OLAPAdmin)" />
    <Property Id="ARPHELPLINK" Value="fmsupport@krista.ru" />
    <Property Id="ARPHELPTELEPHONE" Value="8-(4855)-291-750,  8-800-200-20-72" />
    <Property Id="ARPURLUPDATEINFO" Value="http://www.krista.ru" />
    <Property Id="ARPPRODUCTICON" Value="Client.ico" />

    <Property Id="NETFRAMEWORK35_SP_LEVEL">
      <RegistrySearch Id="NetFramework35SP" Root="HKLM" Key="Software\Microsoft\NET Framework Setup\NDP\v3.5" Name="SP" Type="raw" />
    </Property>
    <Condition Message="Приложение требует установленного .NET Framework 3.5 SP1. Пожалуйста установите .NET Framework и повторно запустите инсталлятор.">
      Installed OR (NETFRAMEWORK35_SP_LEVEL and NOT NETFRAMEWORK35_SP_LEVEL = "#0")
    </Condition>
    
    <Property Id="MACHINEINSTALLDIR">
      <RegistrySearch Id="InstallDir" Root="HKLM" Key="Software\$(var.RegKey)" Name="$(var.InstallDir)" Type="directory" Win64="$(var.Win64)" />
    </Property>
    <Property Id="USERINSTALLDIR">
      <RegistrySearch Id="UserInstallDir" Root="HKCU" Key="Software\$(var.RegKey)" Name="$(var.InstallDir)" Type="directory" Win64="$(var.Win64)" />
    </Property>
    
    <!-- Свойства по умолчанию -->
    <Property Id="InstallScope" Value="User" />
    <Property Id="ApplicationFolderName" Value="LocalAppDataFolder" />
    <Property Id="UsersAccount" Value="S-1-5-32-545" />

    <Media Id="1" Cabinet="media1.cab" EmbedCab="yes" />
        
    <!--Настройка директории по умолчанию (соответствует Per User)-->           
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="LocalAppDataFolder">
        <Directory Id="dirA5B7037256B74302A90C856613405754" Name="$(var.Manufacturer)">
          <Directory Id="dir1A677A4F16324BB380D0EE42AF09F050" Name="$(var.Division)">
            <Directory Id="INSTALLDIR" Name="$(var.ProductName)">
                <Directory Id="INSTALLLOCATIONSD" Name="SchemeDesigner"/>
                <Directory Id="INSTALLLOCATIONWP" Name="Workplace"/>
                <Directory Id="INSTALLLOCATIONOA" Name="OlapAdmin"/>                
              </Directory>
            </Directory>
          </Directory>
       </Directory>

      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder3" Name="Криста">
          <Directory Id="ApplicationProgramsFolder2" Name="$(var.Division)">
            <Directory Id="ApplicationProgramsFolder" Name="$(var.ProductName)">
                 <Directory Id="ApplicationDocuments" Name="Документация"/>
            </Directory>
          </Directory>
        </Directory>
      </Directory>

      <Directory Id="DesktopFolder" Name="Desktop"/>

    </Directory>

    <Property Id="SHORTCUT_PROGRAMMENU">1</Property>
    <Property Id="SHORTCUT_DESKTOP">1</Property>

    <FeatureRef Id="ProductFeature"></FeatureRef>
    
    <!--Пользовательский действия-->
    
    <!--Permission-->
    <Binary Id="CustomActionDll" SourceFile="..\..\Krista.FM.Update.CustomAction.CA.dll" />
    <CustomAction Id='AddPermition1'
                  BinaryKey='CustomActionDll'
                  DllEntry='SetFolderPermissionSD'
                  Return='check' />
    <CustomAction Id='AddPermition2'
                  BinaryKey='CustomActionDll'
                  DllEntry='SetFolderPermissionWP'
                  Return='check' />
    <CustomAction Id='AddPermition3'
                  BinaryKey='CustomActionDll'
                  DllEntry='SetFolderPermissionOA'
                  Return='check' />

    <CustomAction Id="SetUserInstallScope" Property="InstallScope" Value="User" Execute="firstSequence" />
    <CustomAction Id="SetMachineInstallScope" Property="InstallScope" Value="Machine" Execute="firstSequence" />
    <CustomAction Id="SetUserInstallDir" Property="INSTALLDIR" Value="[LocalAppDataFolder]\$(var.Manufacturer)\$(var.Division)\$(var.ProductName)\$(var.ProductVersion)" Execute="firstSequence" />
    <CustomAction Id="SetMachineInstallDir" Property="INSTALLDIR" Value="[$(var.ProgramFiles)]\$(var.Manufacturer)\$(var.Division)\$(var.ProductName)\$(var.ProductVersion)" Execute="firstSequence" />
    <CustomAction Id="SetInstallPath" Property="INSTALLDIR" Value="[INSTALLPATH]" Execute="firstSequence" />
    <CustomAction Id="ResetALLUSERS" Property="ALLUSERS" Value="" Execute="firstSequence" />
    <CustomAction Id="SetALLUSERS1" Property="ALLUSERS" Value="1" Execute="firstSequence" />
    <CustomAction Id="SetALLUSERS2" Property="ALLUSERS" Value="2" Execute="firstSequence" />
    <CustomAction Id="SetMSIINSTALLPERUSER" Property="MSIINSTALLPERUSER" Value="1" Execute="firstSequence" />
    <CustomAction Id="TranslateUsers_SetProperty" Property="PROPERTY_TO_BE_TRANSLATED" Value="UsersAccount" />
    <CustomAction Id="TranslateUsers" BinaryKey="CustomActionDll" DllEntry="TranslateSidToName" Impersonate="no" />

    <!--Remove folders-->
    <CustomAction Id="DeleteFolder" BinaryKey='CustomActionDll'
                  DllEntry='RemoveInstallDirFolder'
                  Return='ignore' />

    <!--<Property Id="QtExecCmdLine" Value='"[SystemFolder]\cmd.exe=" rmdir /s /q "[INSTALLLOCATIONWP]"'/>
    <CustomAction Id="QtExec" BinaryKey="WixCA" DllEntry="CAQuietExec"
    Execute="immediate" Return="ignore"/>-->

    <!--Register DLL
    <CustomAction Id='comReg' Directory='INSTALLLOCATIONWP'
      ExeCommand='"[SystemFolder]regsvr32.exe" "[INSTALLLOCATIONWP]Renaming.dll"' Return='ignore' />
    
    <CustomAction Id='comUnreg' Directory='INSTALLLOCATIONWP' ExeCommand='"[SystemFolder]regsvr32.exe" /u "[INSTALLLOCATIONWP]Renaming.dll"' Return='ignore' />
    -->

    <!--Операции, выполняемые при активизации высокоуровневой операции INSTALL-->
    <InstallExecuteSequence>
      <Custom Action="SetUserInstallDir" Before="FindRelatedProducts">USERINSTALLDIR AND NOT INSTALLPATH</Custom>
      <Custom Action="SetMachineInstallScope" Before="FindRelatedProducts"><![CDATA[ALLUSERS=1]]></Custom>
      <Custom Action="SetMachineInstallDir" Before="FindRelatedProducts"><![CDATA[ALLUSERS=1]]></Custom>
      <Custom Action="SetInstallPath" Before="FindRelatedProducts">INSTALLPATH</Custom>
      <Custom Action="ResetALLUSERS" Before="FindRelatedProducts">USERINSTALLDIR</Custom>
      <Custom Action="SetALLUSERS1" Before="FindRelatedProducts">MACHINEINSTALLDIR</Custom>
      <Custom Action="DeleteFolder" After="RemoveFiles"><![CDATA[REMOVE="ALL" AND NOT UPGRADINGPRODUCTCODE]]></Custom>
      <!--<Custom Action="QtExec" After="RemoveFiles">REMOVE</Custom>-->
      <Custom Action="AddPermition1" After="InstallFinalize">MACHINEINSTALLDIR AND NOT Installed</Custom>
      <Custom Action="AddPermition2" After="InstallFinalize">MACHINEINSTALLDIR AND NOT Installed</Custom>
      <Custom Action="AddPermition3" After="InstallFinalize">MACHINEINSTALLDIR AND NOT Installed</Custom>
      <Custom Action='TranslateUsers_SetProperty' Before='TranslateUsers' />
      <Custom Action='TranslateUsers' Before="FindRelatedProducts" />
      <!--
      <Custom Action='comReg' After='InstallFinalize'>NOT REMOVE</Custom>
      <Custom Action='comUnreg' Before='RemoveFiles'>REMOVE</Custom>
      -->
      
      <RemoveExistingProducts After="InstallFinalize" />
    </InstallExecuteSequence>
    <!-- Операции, выполняемые при активизации высокоуровневой операции INSTALL 
      и уровне пользовательского интерфейса – полный или сокращенный. 
      Installer пропускает операции из этой таблицы, если уровень пользовательского интерфейса установлен в базовый или отключен-->
    <InstallUISequence>
      <Custom Action="SetUserInstallScope" After="LaunchConditions">NOT Privileged</Custom>
      <Custom Action="SetUserInstallDir" Before="FindRelatedProducts">USERINSTALLDIR AND NOT INSTALLPATH</Custom>
      <Custom Action="SetInstallPath" Before="FindRelatedProducts">INSTALLPATH</Custom>
      <Custom Action="ResetALLUSERS" Before="FindRelatedProducts">USERINSTALLDIR</Custom>
      <Custom Action="SetALLUSERS1" Before="FindRelatedProducts">MACHINEINSTALLDIR</Custom>
      <Custom Action="SetMSIINSTALLPERUSER" Before="SetALLUSERS2"><![CDATA[NOT ALLUSERS AND VersionMsi >= "5.00"]]></Custom>
      <Custom Action="SetALLUSERS2" Before="ExecuteAction"><![CDATA[NOT ALLUSERS AND VersionMsi >= "5.00"]]></Custom>
    </InstallUISequence>

    <UIRef Id="WixUI_Wizard"/>

  </Product>
</Wix>
