.top
{
    background-image: url(../../images/Top.gif);
    background-repeat: repeat-x;
    background-color: #ffffff;
    height: 3px;
}
.bottom
{
    background-image: url(../../images/Bottom.gif);
    background-repeat: repeat-x;
    height: 6px;    
}
.left
{
    background-image: url(../../images/Left.gif);
    background-repeat: repeat-y;
    width: 2px;    
}
.right
{
    background-image: url(../../images/Right.gif);
    background-repeat: repeat-y;
    width: 3px;
}
.topleft
{
    background-image: url(../../images/LeftTop.gif);
    background-repeat:no-repeat;
    width: 2px;
}
.bottomleft
{
    background-image: url(../../images/leftbottom.gif);
    background-repeat:no-repeat;    
}
.topright
{
    background: white url(../../images/righttop.gif);
    background-repeat:no-repeat;
    width: 3px;
}
.bottomright
{
    background-image: url(../../images/rightbottom.gif);
    background-repeat:no-repeat;
    width: 3px;    
}
.headerright
{
    background: white url(../../images/headerright.gif);
    background-repeat:no-repeat;
    width: 5px;  
    height: 21px;
}
.headerleft
{
    background-image: url(../../images/headerleft.gif);
    background-repeat:no-repeat;
    width: 3px;
    height: 21px;
}

.header
{    
    font-size: 16px;
    font-family: Verdana;
    font-weight: bold;
    background-image: url(../../images/containerheader.gif);
    background-color: #f7f7f7;
    background-repeat: repeat-x;
    margin-left: -5px;
    margin-right: -5px;
    padding-left: 3px;
    height: 22px;           
}
.headerReport
{       
    background-image: url(../../images/containerheader.gif);
    background-color: #f7f7f7;
    background-repeat: repeat-x;
    margin-left: -5px;
    margin-right: -5px;
    padding-left: 3px;
    height: 22px;           
}
.header a
{
	color:#1572b4;
	font-weight:bold;
	font-size:14px;
}
.header a:hover
{
	color:Blue;
}