<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

  <Fragment>

    <DirectoryRef Id="INSTALLLOCATION" FileSource=".">
      <Component Id="ProductComponent" Guid="41076d4f-16c3-4fb4-b3c3-3682988d4de8" DiskId='1'>
        <File Id='Krista.FM.Client.HelpGenerator.dll.config' Name='Krista.FM.Client.HelpGenerator.dll.config'/>
        <File Id='Krista.FM.Client.SchemeDesigner.exe.config' Name='Krista.FM.Client.SchemeDesigner.exe.config'/>
        <File Id='Krista.FM.Update.ShedulerUpdateService.exe.config' Name='Krista.FM.Update.ShedulerUpdateService.exe.config'/>
        <File Id='Interop.MSOLAPADMINLib.dll' Name='Interop.MSOLAPADMINLib.dll'/>
        <File Id='Interop.POMInterfaces.dll' Name='Interop.POMInterfaces.dll'/>
        <File Id='Interop.SourceSafeTypeLib.dll' Name='Interop.SourceSafeTypeLib.dll'/>
        <File Id='Interop.VBA.dll' Name='Interop.VBA.dll'/>
        <File Id='Itenso.Configuration.dll' Name='Itenso.Configuration.dll'/>
        <File Id='Itenso.Rtf.Converter.Html.dll' Name='Itenso.Rtf.Converter.Html.dll'/>
        <File Id='Itenso.Rtf.Interpreter.dll' Name='Itenso.Rtf.Interpreter.dll'/>
        <File Id='Itenso.Rtf.Parser.dll' Name='Itenso.Rtf.Parser.dll'/>
        <File Id='Itenso.Sys.dll' Name='Itenso.Sys.dll'/>
        <File Id='Krista.Diagnostics.dll' Name='Krista.Diagnostics.dll'/>
        <File Id='Krista.FM.Client.Common.dll' Name='Krista.FM.Client.Common.dll'/>
        <File Id='Krista.FM.Client.Components.dll' Name='Krista.FM.Client.Components.dll'/>
        <File Id='Krista.FM.Client.Design.dll' Name='Krista.FM.Client.Design.dll'/>
        <File Id='Krista.FM.Client.DiagramEditor.dll' Name='Krista.FM.Client.DiagramEditor.dll'/>
        <File Id='Krista.FM.Client.Help.dll' Name='Krista.FM.Client.Help.dll'/>
        <File Id='Krista.FM.Client.HelpGenerator.dll' Name='Krista.FM.Client.HelpGenerator.dll'/>
        <File Id='Krista.FM.Client.SchemeEditor.dll' Name='Krista.FM.Client.SchemeEditor.dll'/>
        <File Id='Krista.FM.Client.SMO.Design.dll' Name='Krista.FM.Client.SMO.Design.dll'/>
        <File Id='Krista.FM.Common.dll' Name='Krista.FM.Common.dll'/>
        <File Id='Krista.FM.Common.OfficeHelpers.dll' Name='Krista.FM.Common.OfficeHelpers.dll'/>
        <File Id='Krista.FM.Providers.VSS.dll' Name='Krista.FM.Providers.VSS.dll'/>
        <File Id='Krista.FM.ServerLibrary.dll' Name='Krista.FM.ServerLibrary.dll'/>
        <File Id='Krista.FM.Update.Framework.dll1' Name='Krista.FM.Update.Framework.dll'/>
        <File Id='nunit.framework.dll' Name='nunit.framework.dll'/>
        <File Id='ARJ32.EXE' Name='ARJ32.EXE'/>
        <File Id='Krista.FM.Client.SchemeDesigner.exe' Name='Krista.FM.Client.SchemeDesigner.exe'/>
        <File Id='Krista.FM.Client.SchemeDesigner.usersettings' Name='Krista.FM.Client.SchemeDesigner.usersettings'/>
        <File Id='ParametersChecks.xml' Name='ParametersChecks.xml'/>
        <File Id='ServerConfiguration.xsd' Name='ServerConfiguration.xsd'/>
        
        <File Id='Krista.Diagnostics.pdb' Name='Krista.Diagnostics.pdb'/>
        <File Id='Krista.FM.Client.Common.pdb' Name='Krista.FM.Client.Common.pdb'/>
        <File Id='Krista.FM.Client.Components.pdb' Name='Krista.FM.Client.Components.pdb'/>
        <File Id='Krista.FM.Client.Design.pdb' Name='Krista.FM.Client.Design.pdb'/>
        <File Id='Krista.FM.Client.DiagramEditor.pdb' Name='Krista.FM.Client.DiagramEditor.pdb'/>
        <File Id='Krista.FM.Client.Help.pdb' Name='Krista.FM.Client.Help.pdb'/>
        <File Id='Krista.FM.Client.HelpGenerator.pdb' Name='Krista.FM.Client.HelpGenerator.pdb'/>
        <File Id='Krista.FM.Client.SchemeEditor.pdb' Name='Krista.FM.Client.SchemeEditor.pdb'/>
        <File Id='Krista.FM.Client.SMO.Design.pdb' Name='Krista.FM.Client.SMO.Design.pdb'/>
        <File Id='Krista.FM.Providers.VSS.pdb' Name='Krista.FM.Providers.VSS.pdb'/>
        <File Id='Krista.FM.ServerLibrary.pdb' Name='Krista.FM.ServerLibrary.pdb'/>
        <File Id='Krista.FM.Client.SchemeDesigner.pdb' Name='Krista.FM.Client.SchemeDesigner.pdb'/>

        <File Id='Krista.FM.Update.SchemeAdapter.dll' Name='Krista.FM.Update.SchemeAdapter.dll'/>

        <RemoveFile Id="PurgeAppFolder" Name="*.*" On="uninstall" />
        <RemoveFolder Id="INSTALLLOCATION" On="uninstall"/>
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="Platform1" FileSource=".\Platform">
      <Component Id="Platform1Com" Guid="660AC07F-69C4-4DBE-BB9F-FBA548122ED0" DiskId='2'>
        <CreateFolder/>
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="x32_1" FileSource=".\Platform\x32">
      <Component Id="x32_1Com" Guid="616B8AF6-B00D-4A34-890F-91BBEA846684">
        <CreateFolder/>
        <File Id="CalumMcLellan.StructuredStorage.dll_32_1" Name="CalumMcLellan.StructuredStorage.dll" />
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="x64_1" FileSource=".\Platform\x64">
      <Component Id="x64_1Com" Guid="26F1FCC8-443D-4804-8F37-C9AAC70556B6">
        <CreateFolder/>
        <File Id="CalumMcLellan.StructuredStorage.dll_64_1"   Name="CalumMcLellan.StructuredStorage.dll" />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="Workplace" FileSource=".">
      <Component Id="ProductComponent1" Guid="51076d4f-16c3-4fb4-b3c3-3682988d4de8" DiskId='1'>
        <File Id="zAntlr3.Runtime.dll"   Name="Antlr3.Runtime.dll" />
        <File Id="zARJ32.EXE"   Source="ARJ32.EXE" />
        <File Id="zCastle.Core.dll"   Name="Castle.Core.dll" />
        <!--<File Id="zCastle.DynamicProxy2.dll"   Name="Castle.DynamicProxy2.dll" />-->
        <File Id="zExcelPackage.dll"   Name="ExcelPackage.dll" />
        <File Id="zFiles.wxs"   Name="Files.wxs" />
        <File Id="zFluentNHibernate.dll"   Name="FluentNHibernate.dll" />
        <File Id="zICSharpCode.SharpZipLib.dll"   Name="ICSharpCode.SharpZipLib.dll" />
        <File Id="zInterop.ADODB.dll"   Name="Interop.ADODB.dll" />
        <File Id="zInterop.DSO.dll"   Name="Interop.DSO.dll" />
        <File Id="zInterop.MSOLAPADMINLib.dll"   Name="Interop.MSOLAPADMINLib.dll" />
        <File Id="zInterop.MSXML2.dll"   Name="Interop.MSXML2.dll" />
        <File Id="zInterop.POMInterfaces.dll"   Name="Interop.POMInterfaces.dll" />
        <File Id="zInterop.Renaming.dll"   Name="Interop.Renaming.dll" />
        <File Id="zInterop.SourceSafeTypeLib.dll"   Name="Interop.SourceSafeTypeLib.dll" />
        <File Id="zInterop.VBA.dll"   Name="Interop.VBA.dll" />
        <File Id="zItenso.Configuration.dll"   Name="Itenso.Configuration.dll" />
        <File Id="zItenso.Configuration.WindowsForms.dll"   Name="Itenso.Configuration.WindowsForms.dll" />
        <File Id="zKrista.Diagnostics.dll"   Name="Krista.Diagnostics.dll" />
        <File Id="zKrista.Diagnostics.pdb"   Name="Krista.Diagnostics.pdb" />
        <File Id="zKrista.FM.Client.Common.dll"   Name="Krista.FM.Client.Common.dll" />
        <File Id="zKrista.FM.Client.Common.pdb"   Name="Krista.FM.Client.Common.pdb" />
        <File Id="zKrista.FM.Client.Components.dll"   Name="Krista.FM.Client.Components.dll" />
        <File Id="zKrista.FM.Client.Components.pdb"   Name="Krista.FM.Client.Components.pdb" />
        <File Id="zKrista.FM.Client.Design.dll"   Name="Krista.FM.Client.Design.dll" />
        <File Id="zKrista.FM.Client.Design.pdb"   Name="Krista.FM.Client.Design.pdb" />
        <File Id="zKrista.FM.Client.PlaningServiceProxy.dll"   Name="Krista.FM.Client.PlaningServiceProxy.dll" />
        <File Id="zKrista.FM.Client.PlaningServiceProxy.dll.config"   Name="Krista.FM.Client.PlaningServiceProxy.dll.config" />
        <File Id="zKrista.FM.Client.PlaningServiceProxy.pdb"   Name="Krista.FM.Client.PlaningServiceProxy.pdb" />
        <File Id="zKrista.FM.Client.PlaningServiceProxy.tlb"   Name="Krista.FM.Client.PlaningServiceProxy.tlb" />
        <File Id="zKrista.FM.Client.ProcessManager.dll"   Name="Krista.FM.Client.ProcessManager.dll" />
        <File Id="zKrista.FM.Client.ProcessManager.pdb"   Name="Krista.FM.Client.ProcessManager.pdb" />
        <File Id="zKrista.FM.Client.Reports.dll"   Name="Krista.FM.Client.Reports.dll" />
        <File Id="zKrista.FM.Client.Reports.pdb"   Name="Krista.FM.Client.Reports.pdb" />
        <File Id="zKrista.FM.Client.SMO.Design.dll"   Name="Krista.FM.Client.SMO.Design.dll" />
        <File Id="zKrista.FM.Client.SMO.Design.pdb"   Name="Krista.FM.Client.SMO.Design.pdb" />
        <File Id="zKrista.FM.Client.SMO.dll"   Name="Krista.FM.Client.SMO.dll" />
        <File Id="zKrista.FM.Client.SMO.pdb"   Name="Krista.FM.Client.SMO.pdb" />
        <File Id="zKrista.FM.Client.ViewObjects.AdministrationUI.dll"   Name="Krista.FM.Client.ViewObjects.AdministrationUI.dll" />
        <File Id="zKrista.FM.Client.ViewObjects.AdministrationUI.pdb"   Name="Krista.FM.Client.ViewObjects.AdministrationUI.pdb" />
        <File Id="zKrista.FM.Client.ViewObjects.AssociatedCLSUI.dll"   Name="Krista.FM.Client.ViewObjects.AssociatedCLSUI.dll" />
        <File Id="zKrista.FM.Client.ViewObjects.AssociatedCLSUI.pdb"   Name="Krista.FM.Client.ViewObjects.AssociatedCLSUI.pdb" />
        <File Id="zKrista.FM.Client.ViewObjects.DataPumpUI.dll"   Name="Krista.FM.Client.ViewObjects.DataPumpUI.dll" />
        <File Id="zKrista.FM.Client.ViewObjects.DataPumpUI.pdb"   Name="Krista.FM.Client.ViewObjects.DataPumpUI.pdb" />
        <File Id="zKrista.FM.Client.ViewObjects.DataSourcesUI.dll"   Name="Krista.FM.Client.ViewObjects.DataSourcesUI.dll" />
        <File Id="zKrista.FM.Client.ViewObjects.DataSourcesUI.pdb"   Name="Krista.FM.Client.ViewObjects.DataSourcesUI.pdb" />
        <File Id="zKrista.FM.Client.ViewObjects.DisintRulesUI.dll"   Name="Krista.FM.Client.ViewObjects.DisintRulesUI.dll" />
        <File Id="zKrista.FM.Client.ViewObjects.DisintRulesUI.pdb"   Name="Krista.FM.Client.ViewObjects.DisintRulesUI.pdb" />
        <!--<File Id="zKrista.FM.Client.ViewObjects.FinSourceDebtorBookUI.dll"   Name="Krista.FM.Client.ViewObjects.FinSourceDebtorBookUI.dll" />
        <File Id="zKrista.FM.Client.ViewObjects.FinSourceDebtorBookUI.pdb"   Name="Krista.FM.Client.ViewObjects.FinSourceDebtorBookUI.pdb" />
        -->
        <File Id="zKrista.FM.Client.ViewObjects.FinSourcePlanningUI.dll"   Name="Krista.FM.Client.ViewObjects.FinSourcePlanningUI.dll" />
        <File Id="zKrista.FM.Client.ViewObjects.FinSourcePlanningUI.pdb"   Name="Krista.FM.Client.ViewObjects.FinSourcePlanningUI.pdb" />
        <File Id="zKrista.FM.Client.ViewObjects.ForecastUI.dll"   Name="Krista.FM.Client.ViewObjects.ForecastUI.dll" />
        <File Id="zKrista.FM.Client.ViewObjects.ForecastUI.pdb"   Name="Krista.FM.Client.ViewObjects.ForecastUI.pdb" />
        <File Id="zKrista.FM.Client.ViewObjects.GlobalConstsUI.dll"   Name="Krista.FM.Client.ViewObjects.GlobalConstsUI.dll" />
        <File Id="zKrista.FM.Client.ViewObjects.GlobalConstsUI.pdb"   Name="Krista.FM.Client.ViewObjects.GlobalConstsUI.pdb" />
        <File Id="zKrista.FM.Client.ViewObjects.MDObjectsManagementUI.dll"   Name="Krista.FM.Client.ViewObjects.MDObjectsManagementUI.dll" />
        <File Id="zKrista.FM.Client.ViewObjects.MDObjectsManagementUI.pdb"   Name="Krista.FM.Client.ViewObjects.MDObjectsManagementUI.pdb" />
        <File Id="zKrista.FM.Client.ViewObjects.ProtocolsUI.dll"   Name="Krista.FM.Client.ViewObjects.ProtocolsUI.dll" />
        <File Id="zKrista.FM.Client.ViewObjects.ProtocolsUI.pdb"   Name="Krista.FM.Client.ViewObjects.ProtocolsUI.pdb" />
        <File Id="zKrista.FM.Client.ViewObjects.TasksUI.dll"   Name="Krista.FM.Client.ViewObjects.TasksUI.dll" />
        <File Id="zKrista.FM.Client.ViewObjects.TasksUI.pdb"   Name="Krista.FM.Client.ViewObjects.TasksUI.pdb" />
        <File Id="zKrista.FM.Client.ViewObjects.TemplatesUI.dll"   Name="Krista.FM.Client.ViewObjects.TemplatesUI.dll" />
        <File Id="zKrista.FM.Client.ViewObjects.TemplatesUI.pdb"   Name="Krista.FM.Client.ViewObjects.TemplatesUI.pdb" />
        <File Id="zKrista.FM.Client.Workplace.exe"   Name="Krista.FM.Client.Workplace.exe" />
        <File Id="zKrista.FM.Client.Workplace.exe.config"   Name="Krista.FM.Client.Workplace.exe.config" />
        <File Id="zKrista.FM.Client.Workplace.pdb"   Name="Krista.FM.Client.Workplace.pdb" />
        <File Id="zKrista.FM.Common.dll"   Source="Krista.FM.Common.dll" />
        <File Id="zKrista.FM.Common.MdxExpertHelpers.dll"   Name="Krista.FM.Common.MdxExpertHelpers.dll" />
        <File Id="zKrista.FM.Common.MdxExpertHelpers.pdb"   Name="Krista.FM.Common.MdxExpertHelpers.pdb" />
        <File Id="zKrista.FM.Common.OfficeHelpers.dll"   Name="Krista.FM.Common.OfficeHelpers.dll" />
        <File Id="zKrista.FM.Common.OfficeHelpers.pdb"   Name="Krista.FM.Common.OfficeHelpers.pdb" />
        <File Id="zKrista.FM.Common.OfficePluginServices.dll"   Name="Krista.FM.Common.OfficePluginServices.dll" />
        <File Id="zKrista.FM.Common.OfficePluginServices.pdb"   Name="Krista.FM.Common.OfficePluginServices.pdb" />
        <File Id="zKrista.FM.Common.pdb"   Name="Krista.FM.Common.pdb" />
        <File Id="zKrista.FM.Common.ReportHelpers.dll"   Name="Krista.FM.Common.ReportHelpers.dll" />
        <File Id="zKrista.FM.Common.ReportHelpers.pdb"   Name="Krista.FM.Common.ReportHelpers.pdb" />
        <File Id="zKrista.FM.Common.TaskDocuments.dll"   Name="Krista.FM.Common.TaskDocuments.dll" />
        <File Id="zKrista.FM.Common.TaskDocuments.pdb"   Name="Krista.FM.Common.TaskDocuments.pdb" />
        <File Id="zKrista.FM.Common.Tasks.dll"   Name="Krista.FM.Common.Tasks.dll" />
        <File Id="zKrista.FM.Common.Tasks.pdb"   Name="Krista.FM.Common.Tasks.pdb" />
        <File Id="zKrista.FM.Common.Templates.dll"   Name="Krista.FM.Common.Templates.dll" />
        <File Id="zKrista.FM.Common.Templates.pdb"   Name="Krista.FM.Common.Templates.pdb" />
        <File Id="zKrista.FM.Domain.dll"   Name="Krista.FM.Domain.dll" />
        <File Id="zKrista.FM.Domain.pdb"   Name="Krista.FM.Domain.pdb" />
        <File Id="zKrista.FM.Domain.Reporitory.dll"   Name="Krista.FM.Domain.Reporitory.dll" />
        <File Id="zKrista.FM.Domain.Reporitory.NHibernate.dll"   Name="Krista.FM.Domain.Reporitory.NHibernate.dll" />
        <File Id="zKrista.FM.Domain.Reporitory.NHibernate.pdb"   Name="Krista.FM.Domain.Reporitory.NHibernate.pdb" />
        <File Id="zKrista.FM.Domain.Reporitory.pdb"   Name="Krista.FM.Domain.Reporitory.pdb" />
        <File Id="zKrista.FM.Domain.Services.FinSourceDebtorBook.dll"   Name="Krista.FM.Domain.Services.FinSourceDebtorBook.dll" />
        <File Id="zKrista.FM.Domain.Services.FinSourceDebtorBook.pdb"   Name="Krista.FM.Domain.Services.FinSourceDebtorBook.pdb" />
        <File Id="zKrista.FM.Extensions.dll"   Name="Krista.FM.Extensions.dll" />
        <File Id="zKrista.FM.Extensions.pdb"   Name="Krista.FM.Extensions.pdb" />
        <File Id="zKrista.FM.Providers.DataAccess.dll"   Name="Krista.FM.Providers.DataAccess.dll" />
        <File Id="zKrista.FM.Providers.DataAccess.pdb"   Name="Krista.FM.Providers.DataAccess.pdb" />
        <File Id="zKrista.FM.Providers.VSS.dll"   Name="Krista.FM.Providers.VSS.dll" />
        <File Id="zKrista.FM.Providers.VSS.pdb"   Name="Krista.FM.Providers.VSS.pdb" />
        <File Id="zKrista.FM.ServerLibrary.dll"   Name="Krista.FM.ServerLibrary.dll" />
        <File Id="zKrista.FM.ServerLibrary.pdb"   Name="Krista.FM.ServerLibrary.pdb" />
        <!--<File Id="zlog4net.dll" Name="log4net.dll" />-->
        <File Id="zMicrosoft.Practices.ServiceLocation.dll"   Name="Microsoft.Practices.ServiceLocation.dll" />
        <File Id="zNHibernate.ByteCode.Castle.dll"   Name="NHibernate.ByteCode.Castle.dll" />
        <File Id="zNHibernate.dll" Name="NHibernate.dll" />
        <!--<File Id="zNHibernate.Linq.dll"   Name="NHibernate.Linq.dll" />-->
        <File Id="zNPOI.DDF.dll"   Name="NPOI.DDF.dll" />
        <File Id="zNPOI.dll"   Name="NPOI.dll" />
        <File Id="zNPOI.HPSF.dll"   Name="NPOI.HPSF.dll" />
        <File Id="zNPOI.HSSF.dll"   Name="NPOI.HSSF.dll" />
        <File Id="zNPOI.POIFS.dll"   Name="NPOI.POIFS.dll" />
        <File Id="zNPOI.Util.dll"   Name="NPOI.Util.dll" />
        <File Id="znunit.framework.dll"   Name="nunit.framework.dll" />
        <File Id="zParametersChecks.xml"   Name="ParametersChecks.xml" />
        <File Id="zProduct.wxs"   Name="Product.wxs" />
        <File Id="zShortcuts.wxs"   Name="Shortcuts.wxs" />
        <File Id="zVariables.wxi"   Name="Variables.wxi" />
        <File Id="zWindowsBase.dll"   Name="WindowsBase.dll" />
        <File Id="zzlib.net.dll"   Name="zlib.net.dll" />

        <File Id='zKrista.FM.Update.Framework.dll1' Name='Krista.FM.Update.Framework.dll'/>
        <File Id='zKrista.FM.Update.SchemeAdapter.dll' Name='Krista.FM.Update.SchemeAdapter.dll'/>
        <File Id='zKrista.FM.Update.ShedulerUpdateService.exe.config' Name='Krista.FM.Update.ShedulerUpdateService.exe.config'/>

        <RemoveFile Id="PurgeAppFolder1" Name="*.*" On="uninstall" />
        <RemoveFolder Id="Workplace" On="uninstall"/>
      </Component>
    </DirectoryRef>
   
    <DirectoryRef Id="Platform2" FileSource=".\Platform">
      <Component Id="Platform2Com" Guid="9CF5B8DA-79A5-4A8E-BD2A-D8F1F47EA3F7" DiskId='2'>
        <CreateFolder/>
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="x32_2" FileSource=".\Platform\x32">
      <Component Id="x32_2Com" Guid="99C031E9-D71F-4243-B100-6852AD45E0E8">
        <CreateFolder/>
        <File Id="CalumMcLellan.StructuredStorage.dll_32_2" Name="CalumMcLellan.StructuredStorage.dll" />
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="x64_2" FileSource=".\Platform\x64">
      <Component Id="x64_2Com" Guid="73620825-8C6E-4A81-8FF0-6FDC075AC149">
        <CreateFolder/>
        <File Id="CalumMcLellan.StructuredStorage.dll_64_2"   Name="CalumMcLellan.StructuredStorage.dll" />
      </Component>
    </DirectoryRef>
    

    <!--
    <Directory Id="x32" Name="x32">
      <Component id="x32Com" Guid="E9BAA80F-8979-41ED-8065-DFA70DA02346">
        <CreateFolder/>
        <File Id="CalumMcLellan.StructuredStorage.dll"   Source=".\Platform\x32\CalumMcLellan.StructuredStorage.dll" />
      </Component>
    </Directory>
    <Directory Id="x64" Name="x64">
      <CreateFolder/>
      <Component id="x64Com" Guid="BDEBC51C-5CED-4EB3-88F7-E3D3A4BFBAA3">
        <File Id="CalumMcLellan.StructuredStorage.dll_1"   Source=".\Platform\x64\CalumMcLellan.StructuredStorage.dll" />
      </Component>
    </Directory>
    <Directory Id="Properties" Name="Properties">
      <File Id="App.config"   Source=".\Properties\App.config" />
    </Directory>
    <Directory Id="Styles" Name="Styles">
      <File Id="Office_2007__________.isl"   Source=".\Styles\Office 2007 (голубая).isl" />
      <File Id="Office_2007__________.isl_1"   Source=".\Styles\Office 2007 (серебро).isl" />
      <File Id="Office_2007_________.isl"   Source=".\Styles\Office 2007 (черная).isl" />
      <File Id="__________.isl"   Source=".\Styles\Воздушная.isl" />
      <File Id="_________.isl"   Source=".\Styles\Литейная.isl" />
      <File Id="____________.isl"   Source=".\Styles\Официальная.isl" />
      <File Id="________.isl"   Source=".\Styles\Природа.isl" />
    </Directory>
    -->

  </Fragment>
</Wix>